<div class="contents-section">

    <div class="row no-gutters">
      <div class="col-lg-12 mb-30">
        <div class="card">
          <div class="card-header color-dark fw-500" >
            <h3 class="card-header-section">
              <a href="#" class="breadcrumb-item"><i class="fas fa-home"></i> Home</a>
              <span class="breadcrumb-item active">Guru Management</span>
            </h3>
  
  
            <div class="quotation-btn-section">
  
             
             
              <button type="button"  title="Add Guru Details"
             
                class="btn btn-primary btn-default btn-squared" (click)="addGuruGo()" style="margin-right: 10px;"><i
                  class="fas fa-plus" style="margin-right:10;"></i>Add 
              </button>
              <button type="button"  class="btn btn-primary" 
              
                title="Search Guru Details" (click)="searchGuruGo()">
                <i class="fas fa-search" style="margin-right:10;"></i>Search
              </button>
            </div>
          </div>
          <div class="card-body">
            <div class="userDatatable global-shadow border-0 bg-white w-100">
              <div class="table-responsive">
                <table class="table mb-0 table-borderless">
                  <thead>
                    <tr class="userDatatable-header">
  
                      <th>
                        <input type="checkbox" >
                      </th>
  
                      <th>
                        <span class="userDatatable-title">Biller Name</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Customer Name</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Description</span>
                      </th>
  
                      <th>
                        <span class="userDatatable-title">Account Type</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">URL</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Changed By</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Action</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let list of guru_list; let i = index">
                   
                    <tr>
               
                      <td>
                        <input type="checkbox" >
                      </td>
                      <td><span>{{ list.billerName}}</span></td>
                      <td><span>{{ list.customerName}}</span></td>
                      <td><span>{{ list.description}}</span></td>
                      <td><span>{{ list.account_type}}</span></td>
                      <td><span>{{ list.webpage_url}}</span></td>
                      <td><span>{{ list.userName}}</span></td>
                    
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>