<div class="contents">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mb-30">
                <div class="card">
                    <div class="card-header color-dark fw-500">
                        Contract Classification

                        <button type="button" class="btn btn-primary btn-default btn-squared " data-toggle="modal"
                            data-target="#addContractClassificationId" (click)="clearContractClassification()">New Customer Classification
                        </button>
                    </div>
                    <div class="card-body">
                       

                        <div class="userDatatable global-shadow border-0 bg-white w-100">
                            <div class="table-responsive ">
                                <table class="table mb-0 table-borderless">
                                    <thead>
                                        <tr class="userDatatable-header">
                                           

                                            <th>
                                                <span class="userDatatable-title">Classification Name</span>
                                            </th>
                                            <th>
                                                <span class="userDatatable-title">Desc</span>
                                            </th>
                                            <th>
                                                <span class="userDatatable-title">Color Code</span>
                                            </th>
                                           

                                            <th>
                                                <span class="userDatatable-title">Action</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr *ngFor="let list of result ; let i = index">
                                           


                                            <td>
                                               <span> {{ list.classification_name}}</span>
                                            </td>
                                            <td>
                                                <span>{{ list.classification_desc}}</span>
                                            </td>
                                            <td>
                                                <span>  <input type="color" [(ngModel)]="'#'+list.color" name="color_{{i}}"  />{{ list.color}}</span> 
                                               
                                            </td>
                                         


                                            <td>

                                                <div class="page">

                                                    <div class="dropdown">
                                                      <button class="btn1"><i class="fa fa-bars"></i></button>
                                                      
                                                    
                                                      <ul class="dropdown__list">
                                                        
                                                        
                                                        <li class="dropdown__item">
                                                            <a class="view" title="Delete Contract Classification"
                                                                (click)="deleteContractClassif(list.contract_classification_id)">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none"
                                                                    stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-activity">
                                                                    <path
                                                                        d="M21 4H8l-7 8 7 8h13a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2z">
                                                                    </path>
                                                                    <line x1="18" y1="9" x2="12" y2="15"></line>
                                                                    <line x1="12" y1="9" x2="18" y2="15"></line>
                                                                </svg>
    
                                                            </a>
    
                                                        </li>
                                                        <li class="dropdown__item">
                                                            <a  class="view" title="Edit Contract Classification"
                                                            data-toggle="modal" data-target="#editContractClassificationId"
                                                                (click)="editContractClassification(list.contract_classification_id)">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none"
                                                                    stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-activity">
                                                                    <path
                                                                        d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z">
                                                                    </path>
                                                                    <polyline points="13 2 13 9 20 9"></polyline>
                                                                </svg>
                                                            </a>
                                                        </li>
                                                        <li class="dropdown__item">
                                                            <a  class="view" title="View Contract Classification"
                                                            data-toggle="modal" data-target="#viewContractClassificationId"
                                                              (click)=" viewContractClassification(list.contract_classification_id)"  >
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" viewBox="0 0 24 24" fill="none"
                                                                    stroke="currentColor" stroke-width="2"
                                                                    stroke-linecap="round" stroke-linejoin="round"
                                                                    class="feather feather-activity">
                                                                    <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8">
                                                                    </path>
                                                                    <polyline points="16 6 12 2 8 6"></polyline>
                                                                    <line x1="12" y1="2" x2="12" y2="15"></line>
                                                                </svg>
    
                                                            </a>
                                                        </li>
    
                                                      </ul>
                                                    </div>
                          
                                                  </div>
                          
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal Pop Up (BEGIN) for Add Pop Up & Save in customer Contract Classification------------------>
<div class="modal fade" id="addContractClassificationId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content addcontractmastercss">
        <div class="modal-header">
            <h2 class="modal-title" id="addModalLongTitle">Add Contract Classification</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h2 style="text-align:center;color:rgb(97, 72, 9)">Add Contract Classification</h2>
            <form [formGroup]="addContractClassificationForm">
                <div class="row">
 
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="contractclassifiName" class="col-lg-12 col-form-label">Name</label>
                            <div class="col-lg-12">
                                <input type="text" class="form-control" 
                                formControlName="cont_classification_name"
                                    id="contractclassifiName" />
                            </div>
                            <div *ngIf="addContractClassificationForm.controls['cont_classification_name'].invalid && (addContractClassificationForm.controls['cont_classification_name'].dirty || addContractClassificationForm.controls['cont_classification_name'].touched)"
                                    class="alert alert-danger alertdangerCustomCSS">
                                    Name is Required
                                </div>
                           
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="colorName" class="col-lg-12 col-form-label">Color</label>
                            <div class="col-lg-12">
                                <input type="color" class="form-control" formControlName="color_name"
                                    id="colorName" />
                            </div>
                            <div *ngIf="addContractClassificationForm.controls['color_name'].invalid && (addContractClassificationForm.controls['color_name'].dirty || addContractClassificationForm.controls['color_name'].touched)"
                                    class="alert alert-danger alertdangerCustomCSS">
                                    Color is Required
                                </div>
                        </div>
                    </div>
                  
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="descrip" class="col-lg-12 col-form-label">Description</label>
                            <div class="col-lg-12">
                                <textarea class="form-control" formControlName="description_name" id="descrip" rows="3"></textarea>
                            </div>
                            <div *ngIf="addContractClassificationForm.controls['description_name'].invalid && (addContractClassificationForm.controls['description_name'].dirty || addContractClassificationForm.controls['description_name'].touched)"
                            class="alert alert-danger alertdangerCustomCSS">
                            Description is Required
                        </div>
                        </div>
                    </div>

                  
                                      
                </div>
            
            </form>
        
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="clearContractClassification()">
                Close
            </button>
            <button type="button" class="btn btn-secondary" (click)="saveContractClassification()" >
               Save
            </button>
        </div>
    </div>
</div>
</div> 
<!-----------------Modal Pop Up (END) for Add Pop Up & Save in customer Contract Classification------------------>


<!-----------------Modal Pop Up (BEGIN) for Edit Pop Up & Update in customer Contract Classification------------------>
<div class="modal fade" id="editContractClassificationId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content addcontractmastercss">
        <div class="modal-header">
            <h2 class="modal-title" id="addModalLongTitle">Update Contract Classification</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h2 style="text-align:center;color:rgb(97, 72, 9)">Update Contract Classification</h2>
            <form [formGroup]="editContractClassificationForm">
                <div class="row">
 
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <label for="contractclassifiName" class="col-lg-12 col-form-label">Name</label>
                            <div class="col-lg-12">
                                <input type="text" class="form-control" 
                                formControlName="e_cont_classification_name"
                                    id="contractclassifiName" />
                            </div>
                           
                        </div>
                    </div>
                    
                  
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <label for="descrip" class="col-lg-12 col-form-label">Description</label>
                            <div class="col-lg-12">
                                <textarea class="form-control" formControlName="e_description_name" id="descrip" rows="3"></textarea>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group row">
                            <label for="colorName" class="col-lg-12 col-form-label">Color</label>
                            <div class="col-lg-12">
                                <input type="color" class="form-control" formControlName="e_color_name"
                                    id="colorName" />
                            </div>
                           
                        </div>
                    </div>
                                      
                </div>
            
            </form>
        
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
                Close
            </button>
            <button type="button" class="btn btn-secondary" (click)="updateContractClassification()" >
               Update
            </button>
        </div>
    </div>
</div>
</div> 
<!-----------------Modal Pop Up (BEGIN) for Edit Pop Up & Update in customer Contract Classification------------------>


<!-----------------Modal Pop Up (BEGIN) for View Pop Up  in customer Contract Classification------------------>
<div class="modal fade" id="viewContractClassificationId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content addcontractmastercss">
        <div class="modal-header">
            <h2 class="modal-title" id="addModalLongTitle">View Contract Classification</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h2 style="text-align:center;color:rgb(97, 72, 9)">View Contract Classification</h2>
            <form [formGroup]="viewContractClassificationForm">
                <div class="row">
 
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <label for="contractclassifiName" class="col-lg-12 col-form-label">Name</label>
                            <div class="col-lg-12">
                                <input type="text" class="form-control" 
                                formControlName="v_cont_classification_name" 
                                [attr.readonly]= "isReadOnly"
                               
                                    id="contractclassifiName" />
                            </div>
                            
                           
                        </div>
                    </div>
                    
                  
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <label for="descrip" class="col-lg-12 col-form-label">Description</label>
                            <div class="col-lg-12">
                                <textarea class="form-control" formControlName="v_description_name" 
                                [attr.readonly]= "isReadOnly"
                                id="descrip" rows="3"></textarea>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="form-group row">
                            <label for="colorName" class="col-lg-12 col-form-label">Color</label>
                            <div class="col-lg-12">
                                <input type="color" class="form-control" 
                                formControlName="v_color_name"
                                [attr.readonly]= "isReadOnly"
                                    id="colorName" />
                            </div>
                           
                        </div>
                    </div>
                                      
                </div>
            
            </form>
        
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
                Close
            </button>
        </div>
    </div>
</div>
</div> 
<!-----------------Modal Pop Up (BEGIN) for View Pop Up  in customer Contract Classification------------------>



























