<div class="contents-section addquotation-section" style="cursor:pointer;" id="abc">

    <div class="card">
        <div class="card-header color-dark fw-500">
            <!-- <h1>Add Quotation Details</h1> -->
            <h3 class="card-header-section"><a href="#" class="breadcrumb-item"><i class="fas fa-home"></i> Home</a>
                <span class="breadcrumb-item active">Add Delivery Order Details</span>
            </h3>
        </div>
    </div>


    <div class="container-fluid">

        <!-- <h2 style="text-align: center;">Add Delivery Order Details</h2> -->
        <form [formGroup]="addDo_section1">
            <div class="row">
    
                <div class="col-lg-6">
    
                    <div class="col-lg-12">
                        <div class="form-group row">
                            <label for="cmp_name" class="col-lg-3 col-form-label">Company Name </label>
                            <div class="col-lg-9" >
                                <select name="enqFormValue" id="cmp_name" class="form-control"
                                (change)="billerChangeDetails($event)"    formControlName="companyName">
                                    <!-- (change)="getCustomerInvoiceDetails($event)" (change)="getProformaBillerDetails()" -->
    
                                    <option [ngValue]="null" selected>Select Company Name</option>
                                    <option *ngFor="let comp_name of companyNameList" value="{{comp_name.billerId}}">
                                        {{comp_name.billerName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <label for="select_footer" class="col-lg-12 col-form-label">Select Footer<span
                                    style="color: red;font-size:larger;"> *</span></label>
                            <div class="col-lg-12" style="display: flex;">
                                <div class="form-check" *ngFor="let display of FooterDetails" style="margin-right: 20px;">
                                    <input class="form-check-input" type="radio" formControlName="e_selectFooter"
                                        id="footer_{{display.pdf_footer_id}}" value="{{display.pdf_footer_id}}"
                                        (change)="handleChange($event)" style="margin-top: revert;" />
                                    {{display.footer_name}}
    
                                </div>
                                <div class="alert alert-danger alertdangerCustomCSS1"
                                    *ngIf="addDo_section1.controls['e_selectFooter'].invalid && addDo_section1.controls['e_selectFooter'].touched">
                                    Please
                                    Select Footer
                                </div>
    
                            </div>
                        </div>
                    </div>
    
                </div>
    
                <div class="col-lg-6">
                    <div class="col-md-12 col-12">
                        <div class="form-group row">
                            <label for="dcNo" class="col-lg-2 col-form-label">DO No</label>
                            <div class="col-lg-10">
                                <input type="text" id="dcNo" class="form-control" formControlName="dcNo">
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-12 col-12">
                        <div class="form-group row">
                            <label for="dcDate" class="col-lg-2 col-form-label">DO Date *</label>
                            <div class="col-lg-10">
                                <input type="date" id="dcDate" class="form-control" formControlName="dcDate">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mb-30">
                    <div class="card">
                        <div class="card-header color-dark fw-500">
                            Customer Details
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-6">
                    <div class="col-md-12 col-12">
                        <div class="form-group row">
                            <label for="customer_name" class="col-lg-3 col-form-label"><span>Customer Name</span></label>
                            <div class="col-lg-9">
                                <!-- <input type="text" id="customer_name" class="form-control" formControlName="customer_name"> -->
                                <ng-autocomplete [data]="searchResult" [searchKeyword]="keywordCustomerName"
                                    formControlName="customer_name" (selected)='searchCustomer_selectDropdownData($event)'
                                    (inputChanged)='searchCustomerData($event)' (inputFocused)='onFocusedCustomer($event)'
                                    [itemTemplate]="itemTemplateCustomer" [notFoundTemplate]="notFoundTemplate">
    
                                </ng-autocomplete>
                                <ng-template #itemTemplateCustomer let-item>
                                    <a [innerHTML]="item.customerName"></a>
                                </ng-template>
    
                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-12 col-12">
                        <div class="form-group row">
                            <label for="address" class="col-lg-3 col-form-label">Address</label>
                            <div class="col-lg-9">
                                <input type="text" id="customerAddress1" class="form-control mt-2"
                                    formControlName="customerAddress1">
                                <input type="text" id="customerAddress2" class="form-control mt-2"
                                    formControlName="customerAddress2">
                                <input type="text" id="customerAddress3" class="form-control mt-2"
                                    formControlName="customerAddress3">
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-12 col-12">
                        <div class="form-group row">
                            <label for="kind_Attention" class="col-lg-3 col-form-label">Attention</label>
                            <div class="col-lg-9">
                                <input type="text" id="kind_Attention" class="form-control"
                                    formControlName="kind_Attention">
                            </div>
                        </div>
                    </div>
    
    
                    <div class="col-lg-12 col-12">
                        <div class="form-group row" style="align-items: center">
                            <div class="col-lg-3">
                                <label for="Payment" class=" col-form-label mt-4">Select Extra Logo </label>
    
                            </div>
                            <div class="col-lg-9">
                                <div class="form-check form-check-inline "
                                *ngFor="let display1 of bills_logo_id_radio;let k=index">
                                <input class="form-check-input mt-4" type="radio" name="bills_logo_id" [value]="display1.id"
                                    checked="{{display1.id==billsLogo_value ? 'checked':''}}"
                                    (change)="handleChange_EXTRALogo(display1.billerId,$event)" />
                                <label class="form-check-label mt-4" for="exampleRadios{{k}}">
                                    <span style="color:#252525 !important;">{{display1.name}}</span>
                                </label>
                            </div>
                            </div>
                           
                        </div>
                    </div>
    
    
                 
    
    
                    <div class="col-lg-12">
                        <div class="form-group row" style="align-items: center">
                            <div class="col-lg-3">
                                <label for="Payment" class="form-label">Warranty</label>
                            </div>
                            <div class="col-lg-9" >
    
                                <div class="form-check form-check-inline ">
    
                                    <input class="form-check-input" type="radio" name="export_state" 
                                    (change)="handleChange_warrantyImp($event)"
                                    id="exampleRadios1" value="no" >
                                    <label class="form-check-label" for="exampleRadios1">
                                        <span style="color:#252525 !important;">No Warranty</span>
        
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="export_state"
                                        (change)="handleChange_warrantyImp($event)" id="exampleRadios2" value="one">
                                       
                                    <label class="form-check-label" for="exampleRadios2">
                                        <span style="color:#252525 !important;">One Warranty</span>
        
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="export_state" 
                                    (change)="handleChange_warrantyImp($event)"
                                    id="exampleRadios3" value="two">
                                         
                                    <label class="form-check-label" for="exampleRadios3">
                                        <span style="color:#252525 !important;">Two Warranty</span>
        
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="export_state" 
                                    (change)="handleChange_warrantyImp($event)"
                                    id="exampleRadios4" value="none">
                                         
                                    <label class="form-check-label" for="exampleRadios4">
                                        <span style="color:#252525 !important;">None</span>
        
                                    </label>
                                </div>
    
    
    
                            </div>
                           
    
    
                       
    
                        </div>
                    </div>
    
    
    
                    <div class="col-md-12">
                        <div class="form-group row" style="align-items: center">
                            <label for="kind_Attention" class="col-lg-5 col-form-label">Description Details (Don't Show)
                            </label>
                            <div class="col-lg-6">
                                <input type="checkbox" id="description_details_show_state"
                                    formControlName="description_details_show_state"
                                    (change)="descriptionPermission($event)">
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-12">
                        <div class="userDatatable-content">
                            <textarea style="height: 120px;width: 100%;text-align: left;padding-left: 8px"
                                class="form-control mt-2 mb-2" row="2" formControlName="description_details"
                                id="description_details"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    
        <form [formGroup]="addDo_section2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group row">
                        <h2 style="color: black;background-color: #EFF0F3;font-size: larger;text-align: center;"
                            class="col-lg-12 col-form-label">Product Details</h2>
                    </div>
    
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="add-contact-table-section" style="width: 100%;">
                                <thead >
                                    <tr class="userDatatable-header" >
    
                                        <th style="width:48%"> <span class="userDatatable-title">Product Name</span>
                                        </th>
                                   
                                        <th style="width:48%"><span class="userDatatable-title">Quantity</span></th>
                                        <th style="width: 45px;"></th>
                                 
    
                                    </tr>
                                </thead>
                                <tbody style="border-bottom: 1px solid #ddd;" formArrayName="addresses"
                                    *ngFor="let address of addressControls.controls; let i = index;">
                                    <tr [formGroupName]="i">
                                        <td colspan="12">
                                            <table style="width: 100%;">
                                                <tr class="marginSpace">
                                                    <td>
                                                        <div class="userDatatable-content">
                                                            <input type="text" class="form-control mt-2 mb-2"
                                                                formControlName="prodName" id="prodName_{{i}}" />
                                                        </div>
                                                        <div class="userDatatable-content">
                                                            <textarea
                                                                style="height: 120px;width: 100%;text-align: left;padding-left: 8px"
                                                                class="form-control mt-2 mb-2" row="2"
                                                                formControlName="desc" id="desc_{{i}}"></textarea>
                                                        </div>
                                                    </td>
    
    
                                                    <td valign="top">
                                                        <div class="userDatatable-content">
                                                            <input type="number" class="form-control  mt-2 mb-2"
                                                                formControlName="quantity" id="quantity_{{i}}" />
                                                        </div>
                                                    </td>
    
                                                    <td  valign="top" style="width: 45px;">
                                                        <div *ngIf="i>0" class="userDatatable-content d-inline-block "
                                                            style="margin-left: 15px;">
                                                            <button type="button" class="btn btn-danger btn-sm  mt-2 mb-2"
                                                                (click)="removeParticular(i)">X</button>
                                                        </div>
                                                    </td>
    
                                                </tr>
    
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
    
                        <div class="text-right">
                            <button type="button" class="btn btn-dark btn-default btn-squared mt-2 mb-2"
                                (click)="editAddress()" style="margin-right: 10px;"><i class="fas fa-plus"
                                    style="margin-right:0;"> Add Product</i>
                            </button>
                        </div>
    
                    </div>
    
    
    
                </div>
            </div>
        </form>
        <form [formGroup]="addDo_section3">
            <div class="col-12">
    
    
                <div class="userDatatable-content">
    
                    <label for="remark" style="float: right;"> remarks </label>
                    <textarea style="height: 120px;width: 100%;text-align: left;padding-left: 8px"
                        class="form-control mt-2 mb-2" row="2" formControlName="remarks" id="remarks"></textarea>
                </div>
                <div id="signature_message_id" style="float: right;">
                    <label style="font-style: italic;color:#009688">
                        (Signature not available. Ask your administrator to upload your
                        signature if required)
                    </label>
    
                </div>
            </div>
        </form>
    
    
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="AddDO($event)">
                Update
            </button>
            <button type="button" class="btn btn-dark ml-4" data-dismiss="modal" (click)="goBack()">
                Cancel
            </button>
        </div>
    

    </div>


</div>


