<div class="contents-section">

    <div class="row no-gutters">
        <div class="col-lg-12 mb-30">
            <div class="card quotation">
                <div class="card-header color-dark fw-500">
                    <h3 class="card-header-section"><a href="#" class="breadcrumb-item"><i class="fas fa-home"></i>
                            Home</a>
                        <span class="breadcrumb-item active">Multiple Invoice Payment Entry Management</span>
                    </h3>
                    <!-- <h3 style="margin-bottom: 0;">Quotation</h3> -->
                    <div class="quotation-btn-section">
                        <button type="button" title="Add New Customer Contract"
                            class="btn btn-primary btn-default btn-squared" data-toggle="modal"
                            data-target="#addMulInvPayId" (click)="addMulInvPay()" style="margin-right: 10px;">
                            <i class="fas fa-plus" style="margin-right:0;"></i>
                            Add Payment Entry
                        </button>

                        <button type="button" title="Edit Customer Contract"
                            class="btn btn-primary btn-default btn-squared" data-toggle="modal"
                            (click)="editMulInvPayGroup()" style="margin-right: 10px;">
                            <i class="fa fa-pencil-square-o" style="margin-right:0;"></i>
                            Edit Group Payment Entry
                        </button>
                        <button type="button" title="Delete  Contract" class="btn btn-primary btn-default btn-squared"
                            data-toggle="modal" data-target="#deleteCustomerContractId" (click)="deleteMulInvPayGroup()"
                            style="margin-right: 10px;">
                            <i class="fa fa-times" style="margin-right:0;"></i>
                            Delete Group Payment Entry
                        </button>
                        <button type="button" title="Delete  Contract" class="btn btn-primary btn-default btn-squared"
                        data-toggle="modal" data-target="#searchMulInvPayId" (click)="searchMulInvPayGroup()"
                        style="margin-right: 10px;">
                        <i class="fa fa-search" style="margin-right:0;"></i>
                        Search
                    </button>
                    </div>
                </div>
                <div class="card-body">


                    <div class="userDatatable global-shadow border-0 bg-white w-100">
                        <div class="table-responsive ">
                            <table class="table mb-0 table-borderless">
                                <thead>
                                    <tr class="userDatatable-header">



                                        <th>
                                            <div class="d-flex align-items-center">
                                                <div class="custom-checkbox  check-all">
                                                    <input class="checkbox" type="checkbox" id="check-30"
                                                        (change)="selectAll($event)">
                                                    <label for="check-30">

                                                    </label>
                                                </div>
                                            </div>
                                        </th>

                                        <th>
                                            <span class="userDatatable-title" style="color: aliceblue;">Payment Entry
                                                No</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Payment Entry Date</span>
                                        </th>


                                        <th>
                                            <span class="userDatatable-title">Customer Name</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Invoice No</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Generate By</span>
                                        </th>


                                        <th>
                                            <span class="userDatatable-title">Action</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngFor="let list of mulInvPay_list ; let i = index">

                                        <td>
                                            <div class="d-flex">
                                                <div class="userDatatable__imgWrapper d-flex align-items-center">
                                                    <div class="checkbox-group-wrapper">
                                                        <div class="checkbox-group d-flex">
                                                            <div
                                                                class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                                                <input class="checkbox" type="checkbox"
                                                                    id="check-grp-mulInv{{i}}"
                                                                    (change)="EditCHK(list.payment_entry_id,$event)">
                                                                <label for="check-grp-mulInv{{i}}"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </td>
                                        <td>
                                            <span> {{ list.payment_entry_no}}</span>
                                        </td>
                                        <td>
                                            <span>{{ list.payment_entry_dt}}</span>
                                        </td>
                                        <td>
                                            <span>{{ list.customer_name}}</span>
                                        </td>
                                        <td>
                                            <span>{{ list.invoice_no}}</span>
                                        </td>
                                        <td>
                                            <span>{{ list.billGeneratedBy}}</span>
                                        </td>
                                        <td>

                                            <a title="Delete" (click)="deleteFile(list.payment_entry_id)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="20"
                                                    viewBox="0 0 24 24" fill="none" stroke="#6D5DFC" stroke-width="3"
                                                    stroke-linecap="round" stroke-linejoin="round"
                                                    class="feather feather-trash-2">
                                                    <polyline points="3 6 5 6 21 6"></polyline>
                                                    <path
                                                        d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2">
                                                    </path>
                                                    <line x1="10" y1="11" x2="10" y2="17"></line>
                                                    <line x1="14" y1="11" x2="14" y2="17"></line>
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <div>
                        <nav class="atbd-page">
                            <ul class="pagination mb-0" *ngIf="paginationData.info == 'show'">
                                <li class="page-item">
                                    <a [class]="paginationData.backtab=='show' ? 'page-link' :'page-link disabled'"
                                        href="javascript:void(0)"
                                        (click)="paginationData.backtab=='show' ? mulInvPaymentList({'offset':paginationData.start}) : false"><i
                                            class="fas fa-angle-left"></i></a>
                                </li>
                                <li class="page-item" *ngIf="paginationData.backtab =='show'">
                                    <a class="page-link" href="javascript:void(0)"
                                        (click)="mulInvPaymentList({'offset':paginationData.back})"><i
                                            class="fas fa-angle-double-left"></i></a>
                                </li>
                                <li [class]="pagination.load ==false ? 'page-item active' :'page-item'"
                                    *ngFor="let pagination of paginationData.data;let i=index">
                                    <a class="page-link" href="javascript:void(0)"
                                        (click)=" pagination.load ==true ? mulInvPaymentList({'offset':pagination.offset_count}) : false">{{pagination.btn_length}}
                                        <span class="sr-only" *ngIf="pagination.load ==false">(current)</span></a>
                                </li>
                                <li class="page-item" *ngIf="paginationData.nexttab =='show'">
                                    <a class="page-link" href="javascript:void(0)"
                                        (click)="mulInvPaymentList({'offset':paginationData.next})"><i
                                            class="fas fa-angle-double-right"></i></a>
                                </li>
                                <li class="page-item">
                                    <a [class]="paginationData.nexttab =='show' ? 'page-link' : 'page-link disabled'"
                                        href="javascript:void(0)"
                                        (click)="paginationData.nexttab =='show' ? mulInvPaymentList({'offset':paginationData.end}) : false"><i
                                            class="fas fa-angle-right"></i></a>
                                </li>
                                <li class="dropdown__item">
                                    <a class="hover3" title="Testing Payment Link" data-toggle="modal" data-target="#">

                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>



<!----------Modal Pop Up (BEGIN)  add multiple invoice payment ------------------>
<div class="modal fade" id="addMulInvPayId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content searchQuotationCSS">
            <div class="modal-header">
                <h2 class=" col-11 modal-title text-center text-center " id="invoiceAttachModalLongTitle">Payment Entry
                    Group Add
                </h2>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="clearAddMulInvPay()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="modal-body">
                    <form [formGroup]="addPI_section2">
                        <div class="row">
                            <div class="col-12" formArrayName="addresses">
                                <ng-container *ngFor="let address of addressControls.controls; let i = index;">
                                    <!-- Customer Invoices Row -->
                                    <section>
                                        <!-- Table for Customer Invoices -->
                                        <div>
                                            <div class="table-responsive">
                                                <table class="add-contact-table-section" >
                                                    <!-- Table Header -->
                                                    <thead>
                                                        <tr class="userDatatable-header">
                                                            <th><span class="userDatatable-title">Customer Name</span></th>
                                                            <th><span class="userDatatable-title">Date</span></th>
                                                            <th><span class="userDatatable-title">Invoice Amount</span></th>
                                                            <th><span class="userDatatable-title">Balance Amount</span></th>
                                                            <th><span class="userDatatable-title">Paid Amount</span></th>
                                                            <th><span class="userDatatable-title">Payment Type/Method</span></th>
                                                            <th><span class="userDatatable-title">Note</span></th>
                                                            <th><span class="userDatatable-title">Action</span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody >
                                                       
                                                        <!-- Individual Row -->
                                                        <tr [formGroupName]="i">
                                                            <!-- Customer Name -->
                                                            <td style="width: 240px;">
                                                                <div class="userDatatable-content">
                                                                    <!-- Autocomplete for Customer Name -->
                                                                    <ng-autocomplete [data]="searchResult_add"
                                                                        [searchKeyword]="keywordCompanyName_add"
                                                                        formControlName="customer_name"
                                                                        id="pd_company_Name_"
                                                                        (selected)='selectEventCustomer_add($event,i)'
                                                                        (inputChanged)='searchCustomerData_add($event)'
                                                                        (inputCleared)="clearSelection1($event,i)"
                                                                        (inputFocused)='onFocusedCustomer_add($event)'
                                                                        [itemTemplate]="itemTemplateCustomer"
                                                                        [notFoundTemplate]="notFoundTemplate">
                                                                    </ng-autocomplete>
                                                                    <ng-template #itemTemplateCustomer let-item>
                                                                        <a [innerHTML]="item.customerName"></a>
                                                                    </ng-template>
                                                                    <ng-template #notFoundTemplate let-notFound>
                                                                        <div [innerHTML]="notFound"></div>
                                                                    </ng-template>
                                                                </div>
                                                            </td>
                                                            <!-- Other Input Fields -->
                                                            <!-- Date -->
                                                            <td>
                                                                <div class="userDatatable-content">
                                                                    <!-- <input type="hidden" class="form-control" formControlName="customer_id"
                                                                     value=" " /> -->
                                                                    <input type="date" class="form-control date-value" formControlName="paymentDate"
                                                                        id="pd_date_{{i}}" value=" " />
                                                                </div>
                                                            </td>
                                                            <!-- Invoice Amount -->
                                                            <td>
                                                                <div class="userDatatable-content">
                                                                    <input type="text" class="form-control" formControlName="invoice_amt"
                                                                        id="pd_invAmount_{{i}}" />
                                                                </div>
                                                            </td>
                                                            <!-- Balance Amount -->
                                                            <td>
                                                                <div class="userDatatable-content">
                                                                    <input type="number" class="form-control"
                                                                        formControlName="bal_amount"
                                                                        id="pd_balAmount_{{i}}" />
                                                                </div>
                                                            </td>
                                                            <!-- Paid Amount -->
                                                            <td>
                                                                <div class="userDatatable-content" style="width: 160px;">
                                                                    <input type="number" class="form-control" formControlName="paid_amt"
                                                                         id="pd_paidAmount_{{i}}" />
                                                                         <input type="hidden" class="form-control" formControlName="bill_id"
                                                                         />
                                                                         <input type="hidden" class="form-control" formControlName="net_payment"
                                                                          />
                                                                </div>
                                                            </td>
                                                            <!-- Payment Type -->
                                                            <td>
                                                                <div class="userDatatable-content" style="width: 160px;">
                                                                    <select class="form-control" formControlName="payment_method"
                                                                        id="pd_paymenttype_{{i}}" name="payment_method">
                                                                        <option value="" disabled selected>Select Payment Method</option>
                                                                        <option *ngFor="let term of paymentType_payment"
                                                                            [value]="term.payment_type_id">{{term.payment_type_name}}</option>
                                                                    </select>
                                                                </div>
                                                            </td>
                                                            <!-- Note -->
                                                            <td>
                                                                <div class="userDatatable-content">
                                                                    <textarea class="form-control" rows="5" 
                                                                        formControlName="note" id="pd_note_{{i}}">
                                                                    </textarea>
                                                                </div>
                                                            </td>
                                                            <!-- Action -->
                                                            <td>
                                                                <div *ngIf="i > 0" class="userDatatable-content d-inline-block">
                                                                    <button type="button" class="btn btn-danger btn-sm"
                                                                        (click)="removeAddress(i)">X</button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                 
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- End of Customer Invoices Row -->
                
                                    <!-- Pending Payments Table -->
                                    <div *ngFor="let list of this.Pay_Pending_list; let j = index">
                                    <div *ngIf="Pay_Pending_list_show[j]==true && list && list.length && j == i">
                                        <div class="userDatatable global-shadow border-0 bg-white w-100">
                                            <div class="table-responsive">
                                                <table class="table mb-0 table-borderless">
                                                    <thead>
                                                        <tr style="background-color: cadetblue!important;" class="userDatatable-header">
                                                            <th>
                                                                <div class="d-flex align-items-center">
                                                                    <div class="custom-checkbox  check-all">
                                                                        <input class="checkbox" type="checkbox" id="check-331{{i}}"
                                                                            (change)="selectAll_pending($event,j)">
                                                                        <label for="check-331{{i}}"></label>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th><span class="userDatatable-title" style="color: aliceblue;">Customer Bill No</span></th>
                                                            <th><span class="userDatatable-title">Bill Date</span></th>
                                                            <th><span class="userDatatable-title">Invoice Amount</span></th>
                                                            <th><span class="userDatatable-title">Balance Amount</span></th>
                                                            <th><span class="userDatatable-title">Action</span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody >
                                                        <!-- Pending Payments Data -->
                                                        <tr *ngFor="let list1 of list; let k = index">
                                                            <td >
                                                                <div class="d-flex">
                                                                    <div class="userDatatable__imgWrapper d-flex align-items-center">
                                                                        <div class="checkbox-group-wrapper">
                                                                            <div class="checkbox-group d-flex">
                                                                                <div *ngIf="list1.performa_invoice == 0" class="checkbox-theme-default custom-checkbox checkbox-group__single d-flex">
                                                                                    <input class="checkbox checkbox-group__single{{j}}" type="checkbox" id="check-grp-pendingInv{{i}}{{k}}" (change)="EditCHK_pending(list1.billId,$event,j)">
                                                                                    <label for="check-grp-pendingInv{{i}}{{k}}"></label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td ><span>{{ list1.cus_invoice_no }}</span></td>
                                                            <td><span>{{ list1.billdate }}</span></td>
                                                            <td ><span>{{ list1.netPayment }}</span></td>
                                                            <td><span>{{ list1.balance_amt }}</span></td>
                                                            <td>
                                                                <div class="page">
                                                                    <div class="dropdown">
                                                                        <button class="btn1"><i class="fa fa-bars"></i></button>
                                                                        <ul class="dropdown__list">
                                                                            <li class="dropdown__item">
                                                                                <a *ngIf="list1.performa_invoice == 1" class="hover4" title="Invoice to Proforma" data-toggle="modal" (click)="InvoicetoProforma(list1.billId)">
                                                                                    <img class="show" src="assets/img/icon2/invoice-pi.png">
                                                                                    <img class="hide" src="assets/img/icon2/invoice-pi.png">
                                                                                    <span><b style="padding: 0px 20px;">-</b><strong>Invoice to Proforma</strong></span>
                                                                                </a>
                                                                                <a *ngIf="list1.performa_invoice == 0" class="hover4">
                                                                                    <span><b style="padding: 0px 20px;">-</b><strong></strong></span>
                                                                                </a>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="modal-footer"  style="justify-content: center !important">

                                            <button type="button" class="btn btn-primary" (click)="addPaymentEntry(i)">
                                                Save
                                            </button>
                                            <!-- <button type="button" class="btn btn-dark" data-dismiss="modal">
                                                Close
                                            </button> -->
                                        </div>
                                    </div>
                                </div>
                                    <!-- End of Pending Payments Table -->
                                
                                <!-- Add Button -->
                                <div class="text-right" style="margin: 20px;">
                                    <button type="button" class="btn btn-dark btn-default btn-squared mt-2 mb-2" (click)="addAddress()"
                                        style="margin-right: 10px;"><i class="fas fa-plus" style="margin-right:0;"> Add </i></button>
                                </div>

                                </ng-container>

                            </div>
                        </div>
                    </form>
                </div>
                

            </div>
          
        </div>
    </div>
</div>
<!----------Modal Pop Up (END) add multiple invoice payment ------------------>

<!----------Modal Pop Up (BEGIN)  edit multiple invoice payment ------------------>
<div class="modal fade" id="editMulInvPayId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content searchQuotationCSS">
            <div class="modal-header">
                <h2 class=" col-11 modal-title text-center text-center" style="color: rgb(185, 9, 135);" id="invoiceAttachModalLongTitle">Payment Entry
                    Group Edit
                </h2>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="modal-body">
                    <form [formGroup]="editMulInvGroupForm">
                        <div class="row">
                            <div class="col-12" >
                                
                                    <!-- Customer Invoices Row -->
                                    <section>
                                        <!-- Table for Customer Invoices -->
                                        <div>
                                            <div class="table-responsive">
                                                <table class="add-contact-table-section">
                                                    <!-- Table Header -->
                                                    <thead>
                                                        <tr class="userDatatable-header">
                                                            <th><span class="userDatatable-title">Customer Name</span></th>
                                                            <th><span class="userDatatable-title">Invoice No</span></th>
                                                            <th><span class="userDatatable-title">Date</span></th>
                                                            <th><span class="userDatatable-title">Invoice Amount</span></th>
                                                            <th><span class="userDatatable-title">Balance Amount</span></th>
                                                            <th><span class="userDatatable-title">Paid Amount</span></th>
                                                            <th><span class="userDatatable-title">Payment Type/Method</span></th>
                                                            <th><span class="userDatatable-title">Note</span></th>
                                                            <th><span class="userDatatable-title">Action</span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody formArrayName="edit_addresses">
                                                        <ng-container *ngFor="let address of editaddressControls.controls; let i = index;">
                                                        <!-- Individual Row -->
                                                        <tr [formGroupName]="i">
                                                            <!-- Customer Name -->
                                                            <td style="width: 240px;">
                                                                <div class="userDatatable-content">
                                                                    <!-- Autocomplete for Customer Name -->
                                                                    <ng-autocomplete [data]="searchResult_add"
                                                                        [searchKeyword]="keywordCompanyName_add"
                                                                        formControlName="customer_name"
                                                                        id="pd_company_Name_{{i}}"
                                                                        (selected)='selectEventCustomer_add($event,i)'
                                                                        (inputChanged)='searchCustomerData_add($event)'
                                                                        (inputCleared)="clearSelection1($event,i)"
                                                                        (inputFocused)='onFocusedCustomer_add($event)'
                                                                        [itemTemplate]="itemTemplateCustomer"
                                                                        [notFoundTemplate]="notFoundTemplate">
                                                                    </ng-autocomplete>
                                                                    <ng-template #itemTemplateCustomer let-item>
                                                                        <a [innerHTML]="item.customerName"></a>
                                                                    </ng-template>
                                                                    <ng-template #notFoundTemplate let-notFound>
                                                                        <div [innerHTML]="notFound"></div>
                                                                    </ng-template>
                                                                </div>
                                                                
                                                            </td>
                                                            
                                                            <!-- Other Input Fields -->
                                                             <!-- Invoice No -->
                                                            <td>
                                                                <div *ngFor="let dropdown of dropdownData; let k = index" class="userDatatable-content" style="width: 160px;">
                                                                    <select *ngIf="dropdown && dropdown.length && k == i" class="form-control" formControlName="invoice_no"
                                                                        id="pd_invoiceNumber_{{i}}" name="invoice_no">
                                                                        <option value="" disabled selected>Select Invoice Number</option>
                                                                        <option *ngFor="let term of dropdown"
                                                                            [value]="term.billId">{{term.customer_inv_no}}</option>
                                                                    </select>
                                                                </div>
                                                            </td>
                                                            <!-- Date -->
                                                            <td>
                                                                <div class="userDatatable-content">
                                                                    <input type="date" class="form-control date-value" formControlName="paymentDate"
                                                                        id="pd_date_{{i}}" value=" " />
                                                                        <input type="hidden"  formControlName="customer_id">
                                                                        <input type="hidden"  formControlName="payment_child_id">
                                                                        <input type="hidden"  formControlName="processId">
                                                                        <input type="hidden"  formControlName="billid">
                                                                </div>
                                                            </td>
                                                            <!-- Invoice Amount -->
                                                            <td>
                                                                <div class="userDatatable-content">
                                                                    <input type="text" class="form-control" formControlName="invoice_amt"
                                                                        id="pd_invAmount_{{i}}" />
                                                                </div>
                                                            </td>
                                                            <!-- Balance Amount -->
                                                            <td>
                                                                <div class="userDatatable-content">
                                                                    <input type="number" class="form-control"
                                                                        formControlName="balance_amt"
                                                                        id="pd_balAmount_{{i}}" />
                                                                </div>
                                                            </td>
                                                            <!-- Paid Amount -->
                                                            <td>
                                                                <div class="userDatatable-content" style="width: 160px;">
                                                                    <input type="number" class="form-control" formControlName="paid_amt"
                                                                         id="pd_paidAmount_{{i}}" />
                                                                </div>
                                                            </td>
                                                            <!-- Payment Type -->
                                                            <td>
                                                                <div class="userDatatable-content" style="width: 160px;">
                                                                    <select class="form-control" formControlName="payment_method"
                                                                        id="pd_paymenttype_{{i}}" name="payment_method">
                                                                        <option value="" disabled selected>Select Payment Method</option>
                                                                        <option *ngFor="let term of paymentType_payment"
                                                                            [value]="term.payment_type_id">{{term.payment_type_name}}</option>
                                                                    </select>
                                                                </div>
                                                            </td>
                                                            <!-- Note -->
                                                            <td>
                                                                <div class="userDatatable-content">
                                                                    <textarea class="form-control" rows="5" 
                                                                        formControlName="note" id="pd_note_{{i}}">
                                                                    </textarea>
                                                                </div>
                                                            </td>
                                                            <!-- Action -->
                                                            <td>
                                                                <div  class="userDatatable-content d-inline-block">
                                                                    <button type="button" class="btn btn-danger btn-sm"
                                                                        (click)="removeAddress_edit(i)">X</button>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </ng-container>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- End of Customer Invoices Row -->
                
                                
                               
                               
                                
                            </div>
                        </div>
                    </form>
                </div>
                

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" (click)="updateMulInvPayment()">
                    Update
                </button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!----------Modal Pop Up (END)  edit multiple invoice payment ------------------>



<!----------Modal Pop Up (BEGIN)  for advanced search Quotation ------------------>
<div class="modal fade" id="searchMulInvPayId" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content searchQuotationCSS">
      <div class="modal-header">
       

        <h2 class="col-11  modal-title text-center text-center" id="exampleModalLongTitle" style="font-family: cursive;color:rgb(240 241 219);background: #200122; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #200122, #6f0000); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #262127, #54b7aa);">
          Advanced Search </h2>


        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="row">
          

          <div class="col-lg-12">
            <form [formGroup]="searchMulInvForm">
              <div class="form-group row">
                <div class="ng-autocomplete">
                  <label for="companyName" class="col-lg-12 ">Search Text</label>
                  <ng-autocomplete [data]="searchResult" [searchKeyword]="keywordCompanyName"
                    formControlName="company_Name" (selected)='selectEventCustomer($event)'
                    (inputChanged)='searchCustomerData($event)' (keyup)="keysearch($event)"
                    (inputCleared)="clearSelection($event)" (inputFocused)='onFocusedCustomer($event)'
                    [itemTemplate]="itemTemplateCustomer" [notFoundTemplate]="notFoundTemplate">
                  </ng-autocomplete>


                  <ng-template #itemTemplateCustomer let-item>
                    <a [innerHTML]="item.customerName"></a>
                  </ng-template>

                  <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>

              </div>
            </form>
          </div>


        

        </div>


      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" (click)="mulInvPaymentList({})">
          Search
        </button>
        <button type="button" class="btn btn-dark" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!----------Modal Pop Up (END)  for advanced search Quotation ------------------>