<div class="contents-section">
    <h2>Enter Proforma Invoice Details</h2>
    <form [formGroup]="addPI_section1">
        <div class="row">

            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="cmp_name" class="col-lg-12 col-form-label">Company Name</label>
                    <div class="col-lg-12">
                        <select name="enqFormValue" id="cmp_name" class="form-control" formControlName="companyName"
                            (change)="getCustomerInvoiceDetails($event)"
                            (change)="getProformaBillerDetails($event)">
                            <option [ngValue]="null" selected disabled>Select Company Name</option>
                            <option *ngFor="let comp_name of companyNameList" value="{{comp_name.billerId}}">
                                {{comp_name.billerName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="inv_no" class="col-lg-12 col-form-label">Invoice No</label>
                    <div class="col-lg-12">
                        <input type="text " class="form-control" formControlName="invoiceNo"
                            [attr.readonly]="isReadOnly" id="inv_no" />
                    </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="customerName" class="col-lg-12 col-form-label">Bill To*</label>
                    <div class="ng-autocomplete">

                        <ng-autocomplete [data]="searchResult" [searchKeyword]="keywordCustomerName"
                            formControlName="BillTo"
                            (selected)='searchCustomer_selectDropdownData($event)'
                             (inputChanged)='searchCustomerData($event)'
                            (inputFocused)='onFocusedCustomer($event)' [itemTemplate]="itemTemplateCustomer"
                            [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>

                        <ng-template #itemTemplateCustomer let-item>
                            <a [innerHTML]="item.customerName"></a>
                        </ng-template>

                        <ng-template #notFoundTemplate let-notFound>
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                        <!-- <div *ngIf="addQuotationInvoice_section1.controls['customerName'].invalid && (addQuotationInvoice_section1.controls['customerName'].dirty || addQuotationInvoice_section1.controls['customerName'].touched)"
                            class=" mt-2 ml-2 mr-2 alert alert-danger">
                            Customer Name is Required
                        </div> -->
                    </div>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="regg" class="col-lg-12 col-form-label">{{this.getProformaBillerDetails_tinName}}</label>
                    <div class="col-lg-12">
                        <input type="text " class="form-control" formControlName="tin" [attr.readonly]="isReadOnly"
                            id="regg" />
                    </div>


                </div>
                <div class="form-group row">

                    <label for="regg" class="col-lg-12 col-form-label">{{this.getProformaBillerDetails_cstName}}</label>
                    <div class="col-lg-12">
                        <input type="text " class="form-control" formControlName="cst" [attr.readonly]="isReadOnly"
                            id="regg" />
                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="add" class="col-lg-12 col-form-label">Address</label>
                    <div class="col-lg-12">
                        <input type="text " class="form-control mt-2" formControlName="address_1" />
                        <input type="text " class="form-control mt-2" formControlName="address_2" />
                        <input type="text " class="form-control mt-2" formControlName="address_3" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="po" class="col-lg-12 col-form-label">PO.No</label>
                    <div class="col-lg-12">
                        <input type="text " class="form-control" formControlName="PoNo" id="po" />

                    </div>
                    <label for="datee" class="col-lg-12 col-form-label">Date *</label>
                    <div class="col-lg-12">
                        <input type="date" class="form-control" formControlName="Date" id="datee" />
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-6">
                <div class="form-group row">
                    <label for="gstt" class="col-lg-12 col-form-label">GST #</label>
                    <div class="col-lg-12">
                        <input type="text " class="form-control" formControlName="GST" [attr.readonly]="isReadOnly"
                            id="gstt" />
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-lg-6">
                <div class="form-group row">
                  
                </div>
            </div> -->
            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="attn1" class="col-lg-12 col-form-label">Attn</label>
                    <div class="col-lg-12">
                        <input type="text" class="form-control" formControlName="Attn_1" id="attn1" />
                    </div>
                    <label for="podatee" class="col-lg-12 col-form-label">PO.Date</label>
                    <div class="col-lg-12">
                        <input type="date" class="form-control" formControlName="PoDate" id="podatee" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="ship" class="col-lg-12 col-form-label">Ship To</label>
                    <div class="col-lg-12">
                        <input type="text" class="form-control mt-2" formControlName="ShipTo_1" />
                        <input type="text" class="form-control mt-2" formControlName="ShipTo_2" />
                        <input type="text" class="form-control mt-2" formControlName="ShipTo_3" />
                        <input type="text" class="form-control mt-2" formControlName="ShipTo_4" />
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-6">
                <div class="form-group row">
                 
                </div>
            </div> -->
            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="sales_rep" class="col-lg-12 col-form-label">Sales Rep</label>
                    <div class="col-lg-12">
                        <select id="sales_rep" class="form-control" formControlName="salesRep">
                            <option [ngValue]="null" selected disabled>Select Sales Rep</option>
                            <option *ngFor="let sales of salesRepList" value="{{sales.userId}}">
                                {{sales.firstName}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="Ship_By" class="col-lg-12 col-form-label">Ship By</label>
                    <div class="col-lg-12">
                        <select id="Ship_By" class="form-control" formControlName="ShipBy">
                            <option [ngValue]="null" selected disabled>Default Ship By</option>
                            <option *ngFor="let ship of ShipByList" value="{{ship.shipById}}">
                                {{ship.ship_name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="Ship_Date" class="col-lg-12 col-form-label">Ship Date</label>
                    <div class="col-lg-12">
                        <input type="date" class="form-control" formControlName="ShipDate" id="Ship_Date" />
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="attn2" class="col-lg-12 col-form-label">Attn</label>
                    <div class="col-lg-12">
                        <input type="text" class="form-control" formControlName="Attn_2" id="attn2" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="term" class="col-lg-12 col-form-label">Terms</label>
                    <div class="col-lg-12">
                        <input type="text" class="form-control" formControlName="terms" id="term" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    <label for="refDetails" class="form-label">Ref</label>
                    <textarea class="form-control" formControlName="Ref" style="height: 70px;" row="2"></textarea>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="curren" class="col-lg-12 col-form-label">Currency</label>
                    <div class="col-lg-12">
                        <select id="curren" class="form-control" formControlName="Currency"
                            (change)="getCurrencyValues($event)">
                            <option [ngValue]="null" selected disabled>Select Currency</option>
                            <option *ngFor="let comp_name of currencyNameList" value="{{comp_name.currencyId}}">
                                {{comp_name.currency_name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="ccr" class="col-lg-12 col-form-label">Currency Conversion Rate</label>
                    <div class="col-lg-12">
                        <input type="text" class="form-control" formControlName="CurrencyConversionRate"
                            [(ngModel)]="CurrencyConversionRateDefault" [attr.readonly]="isReadOnly" id="ccr" />
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="Payment" class="col-lg-12 col-form-label">Payment Via</label>
                    <div class="col-lg-12">
                        <select id="Payment" class="form-control" formControlName="PaymentVia">
                            <option [ngValue]="null" selected disabled>Select Payment Via</option>
                            <option *ngFor="let payment of paymentviaList" value="{{payment.paymentvia_id}}">
                                {{payment.paymentvia_name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-6">
                <div class="form-group row">
                    <div class="form-check form-check-inline"  *ngFor="let radio1 of exportState_Radio;let i=index">
                        <input class="form-check-input" type="radio" name="export_state" id="export_state{{i}}" checked="{{radio1.id == '1' ? 'checked' : ''}}"
                          formControlName="export_state" value="{{radio1.id}}"  (change)="handleChange(radio1.id,$event)">
                        <label class="form-check-label" for="export_state{{i}}">{{radio1.name}}</label>
                    </div>
                   
                </div>
            </div> -->

           
            <div class="form-check form-check-inline">

                <input class="form-check-input" type="radio" name="export_state" (change)="handleChange($event)"
                    id="exampleRadios1" value="Local" checked>
                <label class="form-check-label" for="exampleRadios1">
                    Local
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="export_state" (change)="handleChange($event)"
                    id="exampleRadios2" value="Export">
                <label class="form-check-label" for="exampleRadios2">
                    Export
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="export_state" (change)="handleChange($event)"
                    id="exampleRadios3" value="Zero Valid">
                <label class="form-check-label" for="exampleRadios3">
                    Zero Valid
                </label>
            </div>
            <div class="col-lg-6">
                <div class="form-group row">
                    <!-- <div class="form-check form-check-inline"  *ngFor="let display of dynamicCheckboxwithKey;let i=index">
                        <input class="form-check-input" type="checkbox"  formControlName="mile_Discount" 
                        id="inlineCheckbox{{i}}" value="{{display.id}}" (change)="mile($event)" >
                        <label class="form-check-label" for="inlineCheckbox{{i}}">{{display.name}} </label>
                      </div> -->
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio"  checked name="select"
                        id="inlineCheckbox2" value="mile Discount" (change)="mile($event)">
                        <label class="form-check-label" for="inlineCheckbox2"> mile Discount</label>
                      </div>
                       <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="select"
                        id="inlineCheckbox2" value="Mile Stone" (change)="mile($event)">
                        <label class="form-check-label" for="inlineCheckbox2"> Mile Stone</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox3" checked
                        value="M S Display" (change)="handleChange_MSDisplay($event)">
                        <label class="form-check-label" for="inlineCheckbox3">M S Display </label>
                      </div> 
                </div>
            </div>

            <!-- <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-primary active">
                  <input type="checkbox" checked> Checkbox 1 (pre-checked)
                </label>
                <label class="btn btn-primary">
                  <input type="checkbox"> Checkbox 2
                </label>
                <label class="btn btn-primary">
                  <input type="checkbox"> Checkbox 3
                </label>
              </div> -->

              
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="refResellerDetails" class="form-label">Reference Reseller Name</label>
                    <textarea class="form-control" formControlName="ReferenceResellerName" style="height: 70px;"
                        row="2"></textarea>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group row">
                    <label for="Payment" class="col-lg-12 col-form-label">Select Extra Logo</label>
                    <div class="col-lg-12">
                        <div class="form-check form-check-inline">

                            <input class="form-check-input radioType" type="radio" name="extraLogo" (change)="handleChangeExtraLogo($event)"
                                id="exampleRadios1" value="IT Care" >
                            <label class="form-check-label" for="exampleRadios1">
                                IT Care
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="extraLogo" (change)="handleChangeExtraLogo($event)"
                                id="exampleRadios2" value="Calncall">
                            <label class="form-check-label" for="exampleRadios2">
                                Calncall 
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="extraLogo" (change)="handleChangeExtraLogo($event)"
                                id="exampleRadios3" value="DID Sg">
                            <label class="form-check-label" for="exampleRadios3">
                                DID Sg 
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="extraLogo" (change)="handleChangeExtraLogo($event)"
                                id="exampleRadios3" value="Callcloud">
                            <label class="form-check-label" for="exampleRadios3">
                                Callcloud
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="extraLogo" (change)="handleChangeExtraLogo($event)"
                                id="exampleRadios3" value="Mrvoip">
                            <label class="form-check-label" for="exampleRadios3">
                                Mrvoip    
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-6">
                <div class="form-group row">
                    <div class="form-check form-check-inline"  *ngFor="let logo of SelectExtraLogoCheckboxwithKey;let i=index">
                        <input class="form-check-input" type="checkbox"  formControlName="ExtraLogo" 
                        id="inlineCheckbox{{i}}" value="{{logo.id}}" (change)="mile($event)" >
                        <label class="form-check-label" for="inlineCheckbox{{i}}">{{logo.name}} </label>
                      </div>
                  
                </div>
            </div> -->

        </div>
    </form>
        <form [formGroup]="addPI_section2">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group row">
    
    
                        <h2 style="color: black;background-color: #EFF0F3;font-size: larger;text-align: center;"
                            class="col-lg-12 col-form-label">Product Details</h2>
                    </div>
                </div>
                <div class="col-12">
    
                    <section formArrayName="addresses" *ngFor="let address of addressControls.controls; let i = index;">
    
                        <div [formGroupName]="i">
                            <div class="row">
                                <div class="col-12">
                                    <!-- <h3 style="text-align:center;color:rgb(141, 87, 129);font-weight: 500;">
                                        Product Group {{i +
                                        1}}</h3>&nbsp;&nbsp; -->
                                </div>
    
                            </div>
                            <div class="table-responsive">
                                <table class="add-contact-table-section">
                                    <thead>
                                        <tr class="userDatatable-header">
                                            <th> <span class="userDatatable-title">
                                                Next Page</span>
                                            </th>
                                            <th><span class="userDatatable-title">Product Name</span></th>
                                           
                                         
                                            <th><span class="userDatatable-title">Description</span></th>
                                            <th><span class="userDatatable-title">Quantity</span></th>
                                            <th><span class="userDatatable-title">Unit</span>
                                            </th>
                                            <th><span class="userDatatable-title">	Price</span></th>
                                            <th><span class="userDatatable-title">	Total</span></th>
                                            <th><span class="userDatatable-title">Net Total</span></th>
                                            <th><span class="userDatatable-title">Out Call</span>
                                            </th>
                                            <th><span class="userDatatable-title">	C Mon</span>
                                            </th>
                                            <th><span class="userDatatable-title">	Select Tax</span>
                                            </th>
                                            <th>
                                                <span class="userDatatable-title">Action</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
    
    
                                        <tr>
                                            <td>
                                                <div class="userDatatable-content lalign">
                                                  <input type="checkbox"  formControlName="pd_nextPage_checkbox">
                                                
                                                </div>
                                            </td>
                                            <td>
                                                <div class="userDatatable-content">
                                                  
                                                    
    
                                                    <input type="text" class="form-control mt-2 mb-2"
                                                    formControlName="pd_productName_txtbox1"
                                                    id="pd_productName_txtbox_{{i}}" />
      
                                               
                                                </div>
    
                                            </td>
                                            <td>
                                                <div class="userDatatable-content">
                                                    <textarea
                                                    style="height: 120px;width: 100%;text-align: left;padding-left: 8px"
                                                    class="form-control mt-2 mb-2" row="2"
                                                    formControlName="pd_productName_txtArea"
                                                    id="pd_productName_txtArea_{{i}}"></textarea>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="userDatatable-content">
                                                    <input type="text" class="form-control" style="text-align: right;"
                                                    formControlName="pd_quantity_txtbox1" id="pd_qty_{{i}}"
                                                    />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="userDatatable-content">
    
                                                    <input type="text" class="form-control" style="text-align: left;"
                                                            formControlName="pd_unit" id="pd_unit_{{i}}" />
    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="userDatatable-content">
                                                    <input type="text" class="form-control" style="text-align: right;"
                                                            formControlName="pd_sellingPrice" id="pd_SP_{{i}}"
                                                           />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="userDatatable-content">
                                                    <input type="text" class="form-control" formControlName="pd_Total"
                                                    style="text-align: right;" id="pd_Total_{{i}}" />
                                                </div>
                                            </td>
                                            <td>
                                                <div class="userDatatable-content" >
                                                    <input type="text" class="form-control" style="text-align: right;"
                                                            formControlName="pd_netPrice" id="pd_netPrice_{{i}}" />
    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="userDatatable-content" >
                                                    <input type="checkbox" style="text-align: right;"
                                                    formControlName="pd_OutCall" >
    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="userDatatable-content">
                                                    
                                                    <input type="checkbox" style="text-align: right;"
                                                    formControlName="pd_CMon" >
    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="userDatatable-content">
                                                    
                                                    <input type="checkbox" style="text-align: right;"
                                                    formControlName="pd_selectTax" >
    
                                                </div>
                                            </td>
                                            <td>
                                                <div class="userDatatable-content d-inline-block">
                                                    <button type="button" class="btn btn-danger btn-sm"
                                                    (click)="removeAddress(i)"   >X</button>
    
                                                </div>
                                        </tr>
                                    </tbody>
    
                                </table>
                            </div>
    
    
    
                        </div>
                    </section>
    
                    <div class="text-right">
    
                        <!-- <button type="button" class="btn btn-success" style="margin-right: 10px; ;"
                            (click)="addAddress()">Add Product </button> -->
                        <button type="button" class="btn btn-dark btn-default btn-squared mt-2 mb-2" (click)="addAddress()"
                            style="margin-right: 10px;"><i class="fas fa-plus" style="margin-right:0;"> Add Product</i>
                        </button>
                    </div>
    
                </div>
    
    
            </div>
        </form>
        <form [formGroup]="addPI_section3">
            <section class="overall">
                <section class="left_section">
                    <!-- <div class="col-lg-12">
                                <h1>hi</h1>
                                <h1>hi</h1>
                                <h1>hi</h1>
                            </div> -->
                </section>
    
                <section class="right_section">
    
    
                    <div class="col-lg-12">
    
    
                        <div class="row">
    
    
                           
                            <div class="col-lg-12">
    
                                <div class="row d-flex">
                                    <div class="col-lg-6">
                                        <label class="col-form-label" >Gross
                                            Total(Rs.)</label>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control mt-2" 
                                            formControlName="section3_gross_total" />
                                    </div>
                                </div>
                            </div>
    
    
    
                            <div class="col-lg-6">
                                <button class="btn btn-primary mr-2 mt-2" data-toggle="modal"
                                    data-target="#discountFormFinal" 
                                    style="padding: 0px;width:120px;margin-right: 0px!important;float: right;height: 42px;">Discount
                                    (-)</button>
                            </div>
                            <div class="col-lg-6">
                                <div class="d-flex justify-content-center">
    
    
                                    <input type="text" class="form-control  mt-2" 
                                        formControlName="section3_discount_txtbox" id="finalDiscount_amt" />
                                    <input type="hidden" class="form-control" style="text-align: right;"
                                        formControlName="final_dis_type" id="final_discount_type"
                                        />
                                    <input type="hidden" class="form-control" style="text-align: right;"
                                        formControlName="final_dis_val" id="final_discount_val"
                                         />
                                </div>
                            </div>
    
                            <!-- <div class="d-flex">
                                        <div class="col-lg-12">
                                            <div class="d-flex ml-2 mt-2 justify-content-center">
                                                <select name="billerID" id="billerID" class="form-control"
                                                    aria-label="Default select example"
                                                    formControlName="section3_gst_dropdown">
                                                    <option [ngValue]="null" selected disabled>Select Tax</option>
    
    
                                                    <option *ngFor="let tax of TaxDropdownList" value="{{tax.taxId}}">
                                                        {{tax.tax_name}}
                                                    </option>
                                                </select>
                                                <input type="text" formControlName="section3_txtboxRow3" class="form-control ml-2 mt-2" />
                                            </div>
                                        </div>
                                    </div> -->
                            <div class="col-lg-6">
                                <div class="form-group ml-2 mt-2">
    
    
                                    <select name="billerID" id="billerIDs" class="form-control"
                                        aria-label="Default select example" formControlName="section3_gst_dropdown"
                                        >
                                        <option [ngValue]="null" selected disabled>Select Tax</option>
                                      
    
    
                                        <!-- <option *ngFor="let tax of TaxDropdownList" value="{{tax.taxId}}">
                                            {{tax.combine_val}}
                                        </option> -->
                                    </select>
                                    <input type="hidden" formControlName="section3_tax_per_hd" id="tax_per_hd_id"
                                         />
                                </div>
                            </div>
    
    
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" formControlName="section3_taxAmt_txtbox" id="tax_amt_id"
                                        class="form-control mt-2" />
    
                                </div>
                            </div>
    
    
                            <div class="col-lg-6">
                                <div class="d-flex justify-content-center">
                                    <input type="text" class="form-control ml-2 mt-2" placeholder="Shipping"
                                        formControlName="section3_shipping_amt_name_txtbox" />
    
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" 
                                        formControlName="section3_shipping_amt_txtbox" id="shipping_amt_id"
                                        class="form-control mt-2" />
                                </div>
                            </div>
    
    
                            <div class="col-lg-6">
                                <div class="d-flex justify-content-center">
                                    <input type="text" class="form-control ml-2 mt-2" placeholder="Banking Charge"
                                        formControlName="section3_bankingCharge_amt_name_txtbox" />
    
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input type="text" 
                                        formControlName="section3_bankingCharge_amt_txtbox" id="bankingCharge_amt_id"
                                        class="form-control mt-2" />
                                </div>
                            </div>
    
    
                            <div class="col-lg-12">
                                <div class="form-group row">
    
                                    <div class="col-lg-6">
                                        <label>Net Total (Rs.)</label>
                                    </div>
    
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" 
                                            formControlName="section3_grand_total"  />
                                    </div>
    
    
                                </div>
                            </div>
    
    
                            <div class="col-lg-12">
                                <div class="form-group row">
    
                                    <div class="col-lg-6">
                                        <label>Remarks</label>
                                    </div>
    
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" formControlName="section3_remarks" />
                                    </div>
    
    
                                </div>
                            </div>
    
    
    
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label style="font-style: italic;color:#009688">
                                        (Signature not available. Ask your administrator to upload your
                                        signature if required)
                                    </label>
    
                                </div>
                            </div>
    
                            <div class="col-lg-12">
                                <div class="form-group row">
    
                                    <div class="col-lg-6">
                                        <label>Add to terms and condition</label>
                                    </div>
    
                                    <div class="col-lg-6">
                                        <input type="checkbox"  formControlName="section3_termCondition" />
                                    </div>
    
    
                                </div>
                            </div>
    
                            <div class="col-lg-12">
                                <div class="form-group row">
    
                                    <div class="col-lg-6">
                                        <label>Add to Received and Authorized Signature/stamp</label>
                                    </div>
    
                                    <div class="col-lg-6">
                                        <input type="checkbox"  formControlName="section3_receivedAuthorizedSignature" />
                                    </div>
    
    
                                </div>
                            </div>
    
                            <div class="col-lg-12">
                                <div class="form-group row">
    
                                    <div class="col-lg-6">
                                        <label>Add Logo, Address, Signature in PDF</label>
                                    </div>
    
                                    <div class="col-lg-6">
                                        <input type="checkbox"  formControlName="section3_logo" />
                                    </div>
    
    
                                </div>
                            </div>
                            <div class="buttonAlign" >
                                <button type="button" class="btn btn-success">Back</button>
                                <button type="button"  class="btn btn-danger" (click)="PIUpdate()">Submit</button>
                               
                            </div>
    
    
    
    
                        </div>
                    </div>
                </section>
            </section>
        </form>
      
       
    
    
    
    
    
    
    </div>
