<div class="contents-section">

  <div class="row no-gutters">
    <div class="col-lg-12 mb-30">
      <div class="card quotation">
        <div class="card-header color-dark fw-500">
          <h3 class="card-header-section"><a href="#" class="breadcrumb-item"><i class="fas fa-home"></i> Home</a>
            <span class="breadcrumb-item active">Current Stock-Product Inventory</span>
          </h3>


          <div class="quotation-btn-section">

            <button type="button" class="btn btn-primary" data-toggle="modal" title="Search"
              data-target="#searchTransactionFormId">
              <i class="fas fa-search" style="margin-right:4px;"></i>Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center listRecord">List of Records</h2>
  <div class="row">
    <div *ngFor="let category of stockData" class="userDatatable global-shadow border-0 bg-white w-100 col-md-4">
      <div class="table-responsive">
        <table class="table mb-0 table-borderless">
          <thead>
            <tr [style.backgroundColor]="category.color">
              <th colspan="4">{{ category.brand }}</th>
            </tr>
            <tr class="userDatatable-header">
              <th> <span class="userDatatable-title">{{ category.brand }}</span></th>
              <th><span class="userDatatable-title">STK Qty</span></th>
              <th><span class="userDatatable-title">RMA Qty</span></th>
              <th><span class="userDatatable-title">DEMO Qty</span></th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of category.items">
              <td>{{ item.name }}</td>
              <td [style.backgroundColor]="item.stkColor">{{ item.stkQty }}</td>
              <td [style.backgroundColor]="item.rmaColor">{{ item.rmaQty }}</td>
              <td [style.backgroundColor]="item.demoColor">{{ item.demoQty }}</td>
            </tr>
            <tr *ngFor="let item1 of category.total" class="mb-2"
              style="background-color: rgb(241, 241, 121);color:blue;font-size: large;font-weight: 600;">
              <td>Total</td>
              <td [style.backgroundColor]="item1.total_bottom_color">{{ item1.total_qty_1 }}</td>
              <td [style.backgroundColor]="item1.total_bottom_color">{{ item1.total_rma_qty_1 }}</td>
              <td [style.backgroundColor]="item1.total_bottom_color">{{ item1.total_demo_qty_1 }}</td>

            </tr>
          </tbody>
        </table>

      </div>

    </div>
  </div>



</div>



<!----------Modal Pop Up (BEGIN)  for advanced search Quotation ------------------>
<div class="modal fade" id="searchTransactionFormId" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content searchQuotationCSS">
      <div class="modal-header">

        <h2 class="col-11  modal-title text-center text-center" id="exampleModalLongTitle" style="font-family: cursive;color:rgb(240 241 219);background: #200122; /* fallback for old browsers */
       background: -webkit-linear-gradient(to right, #200122, #6f0000); /* Chrome 10-25, Safari 5.1-6 */
       background: linear-gradient(to right, #262127, #54b7aa);">
          Advanced Search </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="searchTransactionForm">
          <div class="row">

            <div class="col-lg-4">
              <div class="form-group row">
                <label for="temp11" class="col-lg-12 ">Transaction Name</label>
                <div class="col-lg-12 ">

                  <select name="search_billerName1" class="form-control" aria-label="Select Sub Customer"
                    formControlName="search_billerName1">
                    <option value="null">Select Biller</option>

                    <option *ngFor="let classif of biller_list" value="{{classif.billerId}}">
                      {{classif.billerName}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <!-- <div class="col-lg-8">
              <div class="form-group row">

                <label for="company_Name" class="col-lg-12 ">Search Text</label>

                <div class="col-lg-12">

                  <input type="search" class="form-control" formControlName="company_Name6" />
                </div>
              </div>
            </div> -->



          </div>
        </form>

      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" (click)="inventory_list({})">
          Search
        </button>
        <button type="button" class="btn btn-dark" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>