<div class="contents-section">

    <div class="row no-gutters">
        <div class="col-lg-12 mb-30">
            <div class="card">
                <div class="card-header color-dark fw-500">
                    <h3 class="card-header-section">
                        <a href="#" class="breadcrumb-item"><i class="fas fa-home"></i> Home</a>
                        <span class="breadcrumb-item active">DID Number Catalog</span>
                    </h3>
                    <div class="quotation-btn-section">


                        <button type="button" class="btn btn-primary btn-default btn-squared"
                            title="Search Product Category" style="margin-right: 10px;">
                            <i class="fas fa-search" style="margin-right:10px;"></i>Search
                        </button>

                    </div>
                </div>
                <div class="card-body">
                    <div class="grid-container">
                        <div class="grid-item" *ngFor="let item of didNameCount">
                            <div class="number">{{item.did_number_count}}</div>
                            <div class="description">{{item.did_trunk_name}}</div>
                        </div>

                    </div>
                    <div class="grid-container">
                        <div class="grid-item" *ngFor="let item of didNumberCounts">
                            <tbody >
                                <tr>
                                    <td colspan="2" align="center" bgcolor="#FFCC00" height="35px" style="border: 1px solid #d0d0d0"><span style="font-size:15px;font-weight:bold">{{item.did_trunk_name}}</span></td>    
                                  </tr>
                                  <tr>
                                    <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">One DID Number</td>
                                    <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">{{item.one_count_val}}</td>
                                  </tr>
                                  <tr>
                                    <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Two DID Number</td>
                                    <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">{{item.two_count_val}}</td>
                                  </tr>
                                  <tr>
                                    <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Three DID Number</td>
                                    <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">{{item.three_count_val}}</td>
                                  </tr>
                                  <tr>
                                    <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Four DID Number	</td>
                                    <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">{{item.four_count_val}}</td>
                                  </tr>
                                  <tr>
                                    <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Five DID Number</td>
                                    <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">{{item.five_count_val}}</td>
                                  </tr>
                                  <tr>
                                    <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Six DID Number</td>
                                    <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">{{item.six_count_val}}</td>
                                  </tr>
                                  <tr>
                                    <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Seven DID Number</td>
                                    <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">{{item.seven_count_val}}</td>
                                  </tr>
                                  <tr>
                                    <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Eight DID Number	</td>
                                    <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">{{item.eight_count_val}}</td>
                                  </tr>
                                  <tr>
                                    <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Nine DID Number</td>
                                    <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">{{item.nine_count_val}}</td>
                                  </tr>
                                  <tr>
                                    <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Ten DID Number	</td>
                                    <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">{{item.ten_count_val}}</td>
                                  </tr>
                                </tbody>
                        </div>

                    </div>
                    <div class="grid-container">
                       
                        <div class="grid-item" >
                            <table class="table table-responsive" style="max-height: 600px;max-width: 600px; overflow: scroll;">
                            <thead>
                                <tr colspan="3">NRS List</tr>
                                <tr>
                                    <th>S.No</th>
                                    <th>Trunk Name</th>
                                    <th>DID Number</th>
                                    <th>Customer Name</th>
                                 
                                </tr>
                            </thead>
                            <tbody >
                               
                                  <tr *ngFor="let item of nrsList;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.did_trunk_name}}</td>
                                    <td>{{item.did_numbers}}</td>
                                    <td>{{item.customer_name}}</td>
                                  </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="grid-item" >
                            <table class="table">
                            <thead>
                                <tr colspan="3">Demo DID Numbers</tr>
                                <tr>
                                    <th>S.No</th>
                                    <th>Trunk Name</th>
                                    <th>DID Number</th>
                                    <th>Customer Name</th>
                                 
                                </tr>
                            </thead>
                            <tbody >
                               
                                  <tr *ngFor="let item of demo_did_numberList;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.did_trunk_name}}</td>
                                    <td>{{item.did_numbers}}</td>
                                    <td>{{item.customer_name}}</td>
                                  </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="grid-item" >
                            <table class="table">
                            <thead>
                                <tr colspan="3">Blocked DID Numbers</tr>
                                <tr>
                                    <th>S.No</th>
                                    <th>Trunk Name</th>
                                    <th>DID Number</th>
                                    <th>Customer Name</th>
                                    <th>Block Time</th>
                                    <th>Duration</th>
                                 
                                </tr>
                            </thead>
                            <tbody >
                               
                                  <tr *ngFor="let item of demo_did_numberList;let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{item.did_trunk_name}}</td>
                                    <td>{{item.did_numbers}}</td>
                                    <td>{{item.customer_name}}</td>
                                    <td>{{item.did_numbers}}</td>
                                    <td>{{item.customer_name}}</td>
                                  </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
              


                   
                </div>

            </div>

        </div>
    </div>

</div>