<div class="contents-section">

  <div class="row no-gutters">
    <div class="col-lg-12 mb-30">
      <div class="card">
        <div class="card-header color-dark fw-500">
          <h3 class="card-header-section">
            <a href="#" class="breadcrumb-item"><i class="fas fa-home"></i> Home</a>
            <span class="breadcrumb-item active"> DID Number Catalog</span>
          </h3>
          <div class="quotation-btn-section">


            <button type="button" class="btn btn-primary btn-default btn-squared" title="Search DID"
              style="margin-right: 10px;">
              <i class="fas fa-search" style="margin-right:10px;"></i>Search
            </button>

          </div>
        </div>
        <div class="card-body">
          <div class="grid-container">
            <div class="grid-item" *ngFor="let item of didNameCount">
              <div class="number">{{item.did_number_count}}</div>
              <div class="description">{{item.did_trunk_name}}</div>
            </div>

          </div>
          <div class="grid-container" style="background-color: #e7f2f4;">
            <div class="grid-item" *ngFor="let item of didNumberCounts">
              <tbody>
                <tr>
                  <td colspan="2" align="center" bgcolor="#FFCC00" height="35px" style="border: 1px solid #d0d0d0"><span
                      style="font-size:15px;font-weight:bold">{{item.did_trunk_name}}</span></td>
                </tr>
                <tr>
                  <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">One DID Number</td>
                  <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">
                    {{item.one_count_val}}</td>
                </tr>
                <tr>
                  <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Two DID Number</td>
                  <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">
                    {{item.two_count_val}}</td>
                </tr>
                <tr>
                  <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Three DID Number</td>
                  <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">
                    {{item.three_count_val}}</td>
                </tr>
                <tr>
                  <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Four DID Number </td>
                  <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">
                    {{item.four_count_val}}</td>
                </tr>
                <tr>
                  <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Five DID Number</td>
                  <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">
                    {{item.five_count_val}}</td>
                </tr>
                <tr>
                  <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Six DID Number</td>
                  <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">
                    {{item.six_count_val}}</td>
                </tr>
                <tr>
                  <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Seven DID Number</td>
                  <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">
                    {{item.seven_count_val}}</td>
                </tr>
                <tr>
                  <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Eight DID Number
                  </td>
                  <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">
                    {{item.eight_count_val}}</td>
                </tr>
                <tr>
                  <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Nine DID Number</td>
                  <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">
                    {{item.nine_count_val}}</td>
                </tr>
                <tr>
                  <td width="80%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">Ten DID Number </td>
                  <td width="20%" bgcolor="#FFFFFF" style="border: 1px solid #d0d0d0; padding:5px">
                    {{item.ten_count_val}}</td>
                </tr>
              </tbody>
            </div>

          </div>

          <!-- <p>
            <button class="btn btn-primary " (click)="toggleCollapse('nrs1')" >NRS List</button>
            <button class="btn btn-primary ml-2" (click)="toggleCollapse('nrs2')">Demo DID Numbers</button>
            <button class="btn btn-primary ml-2" (click)="toggleCollapse('nrs3')">Blocked DID Numbers</button>
            
          </p> -->
          <div style="background-color: rgb(237, 229, 222);">
            <p class="mt-2">
              <button class="btn"
                [ngClass]="{ 'btn-primary': activeSection === 'nrs1', 'btn-outline-primary': activeSection !== 'nrs1' }"
                (click)="toggleCollapse1('nrs1')">
                NRS List
              </button>

              <button class="btn ml-2"
                [ngClass]="{ 'btn-primary': activeSection === 'nrs2', 'btn-outline-primary': activeSection !== 'nrs2' }"
                (click)="toggleCollapse1('nrs2')">
                Demo DID Numbers
              </button>

              <button class="btn ml-2"
                [ngClass]="{ 'btn-primary': activeSection === 'nrs3', 'btn-outline-primary': activeSection !== 'nrs3' }"
                (click)="toggleCollapse1('nrs3')">
                Blocked DID Numbers
              </button>
            </p>
            <div class="tables-wrapper" *ngIf="activeSection === 'nrs1'">
              <div class="table-card">
                <div class="table-header">NRS List</div>
                <div class="table-scroll">
                  <table>
                    <thead>
                      <tr>
                        <th class="bggClass">S.No</th>
                        <th class="bggClass">Trunk Name</th>
                        <th class="bggClass">DID Number</th>
                        <th class="bggClass">Customer Name</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of nrsList; let i = index">
                        <td [ngStyle]="{ 'background-color':  item.bg_color_1  }">{{ i + 1 }}</td>
                        <td [ngStyle]="{ 'background-color':  item.bg_color_2  }">{{ item.did_trunk_name }}</td>
                        <td [ngStyle]="{ 'background-color':  item.bg_color_3  }">{{ item.did_numbers }}</td>
                        <td [ngStyle]="{ 'background-color':  item.bg_color_4 }">{{ item.customer_name }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tables-wrapper" *ngIf="activeSection === 'nrs2'">
              <div class="table-card">
                <div class="table-header">Demo DID Numbers</div>
                <div class="table-scroll">
                  <table>
                    <thead>
                      <tr>
                        <th class="bggClass">S.No</th>
                        <th class="bggClass">Trunk Name</th>
                        <th class="bggClass">DID Number</th>
                        <th class="bggClass">Customer Name</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of demo_did_numberList;let i=index">
                        <td [ngStyle]="{ 'background-color':  item.bg_color_1  }">{{i+1}}</td>
                        <td [ngStyle]="{ 'background-color':  item.bg_color_2  }">{{item.did_trunk_name}}</td>
                        <td [ngStyle]="{ 'background-color':  item.bg_color_3  }">{{item.did_numbers}}</td>
                        <td [ngStyle]="{ 'background-color':  item.bg_color_4 }">{{item.customer_name}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tables-wrapper" *ngIf="activeSection === 'nrs3'">
              <div class="table-card">
                <div class="table-header">Blocked DID Numbers</div>
                <div class="table-scroll">
                  <table>
                    <thead>
                      <tr>
                        <th class="bggClass">S.No</th>
                        <th class="bggClass">Trunk Name</th>
                        <th class="bggClass">DID Number</th>
                        <th class="bggClass">Customer Name</th>
                        <th class="bggClass">Block Time</th>
                        <th class="bggClass">Duration</th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of blocked_list;let i=index">
                        <td [ngStyle]="{ 'background-color':  item.bg_color_1  }">
                          <input type="checkbox" (change)="toggleBlocked(item.did_entry_id, $event)" />
                          {{ item.did_trunk_name }}
                        </td>
                        <td [ngStyle]="{ 'background-color':  item.bg_color_2  }">{{item.did_trunk_name}}</td>
                        <td [ngStyle]="{ 'background-color':  item.bg_color_3  }">{{item.did_numbers}}</td>
                        <td [ngStyle]="{ 'background-color':  item.bg_color_4  }">{{item.customer_name}}</td>
                        <td [ngStyle]="{ 'background-color':  item.bg_color_5  }">{{item.block_dt_show}}</td>
                        <td [ngStyle]="{ 'background-color':  item.bg_color_6  }">{{item.block_duration}}</td>
                      </tr>
                      <button type="button" class="btn btn-primary mt-2 mb-2 ml-2 mr-2"
                        (click)="releaseBlockedDidNumbers()">Release</button>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>





          <div class="tables-wrapper">
            <div class="table-card" *ngFor="let trunk of DIDDetailList">
              <div class="table-header">{{ trunk.trunkName }}</div>
              <div class="table-scroll">
                <table>
                  <thead>
                    <tr>
                      <th class="bggClass">S.No</th>
                      <th class="bggClass">DID Number</th>
                      <th class="customer-col bggClass">Customer Name</th>

                      <th class="bggClass">None</th>
                      <th class="bggClass">Bronze</th>
                      <th class="bggClass">Silver</th>
                      <th class="bggClass">Gold</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let did of trunk.DidtrunkList; let i = index">
                      <td [ngStyle]="{ 'background-color': did.bgcolor }">{{ i + 1 }}</td>
                      <td [ngStyle]="{ 'background-color': did.did_trunk_name_color }">{{ did.did_numbers }}</td>
                      <td [ngStyle]="{ 'background-color': did.cus_color }" class="customer-col">
                        <span *ngIf="did.status==0">{{ did.customerName }}</span>

                        <span *ngIf="did.status == 1">
                          <img src="assets/img/icon2/R-black.png" height="30px" width="30px"
                            (click)="onRClick(did.did_entry_id)">
                        </span>

                        <span *ngIf="did.status==2" (click)="onReleaseClick(did.did_entry_id)" style="cursor: pointer;">
                          <span>{{ did.customerName }}</span>

                        </span>

                      </td>

                      <!-- ONE td PER column: None -->
                      <td [ngStyle]="{ 'background-color': did.none_color }">
                        <input *ngIf="did.status == 1" type="radio" [name]="'option_' + did.did_entry_id" value="4"
                          [checked]="did.none == 4" (change)="onRadioSelect(did, 'none')">
                        <!-- <span *ngIf="did.status != 1">{{ did.none }}</span> -->
                      </td>

                      <!-- Bronze -->
                      <td [ngStyle]="{ 'background-color': did.bronze_color }">
                        <input *ngIf="did.status == 1" type="radio" [name]="'option_' + did.did_entry_id" value="1"
                          [checked]="did.bronze == 1" (change)="onRadioSelect(did, 'bronze')">
                        <!-- <span *ngIf="did.status != 1">{{ did.bronze }}</span> -->
                      </td>

                      <!-- Silver -->
                      <td [ngStyle]="{ 'background-color': did.silver_color }">
                        <input *ngIf="did.status == 1" type="radio" [name]="'option_' + did.did_entry_id" value="2"
                          [checked]="did.silver == 2" (change)="onRadioSelect(did, 'silver')">
                        <!-- <span *ngIf="did.status != 1">{{ did.silver }}</span> -->
                      </td>

                      <!-- Gold -->
                      <td [ngStyle]="{ 'background-color': did.gold_color }">
                        <input *ngIf="did.status == 1" type="radio" [name]="'option_' + did.did_entry_id" value="3"
                          [checked]="did.gold == 3" (change)="onRadioSelect(did, 'gold')">
                        <span *ngIf="did.status ==2" style="color: blue; text-decoration: underline; margin-left: 8px;">
                          <img title="Release" src="assets/img/icon2/swap.png" height="30px" width="30px"
                            (click)="onImageClick(did.did_entry_id)"></span>
                        <!-- <span *ngIf="did.status != 1">{{ did.gold }}</span> -->
                      </td>
                    </tr>


                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>

      </div>
    </div>

  </div>

</div>



<!----------Modal Pop Up (BEGIN)  for SST Tax begin ------------------>
<div class="modal fade" id="DIDInvReserve" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content searchQuotationCSS">
      <div class="modal-header">

        <h2 class="col-11  modal-title text-center text-center" id="exampleModalLongTitle" style="font-family: cursive;color:rgb(240 241 219);background: #200122; /* fallback for old browsers */
          background: -webkit-linear-gradient(to right, #200122, #6f0000); /* Chrome 10-25, Safari 5.1-6 */
          background: linear-gradient(to right, #262127, #54b7aa);">
          DID Inventory Reserve </h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="DIDInvReserveForm">
          <div class="row">
            <div class="col-lg-12" style="display: flex; ">
              <div class="col-lg-3 ">
                <label>Reserve Customer </label>
              </div>
              <div class="col-lg-9">
                <div class="form-group row">
                  <div class="ng-autocomplete" style="padding: 4px 5px !important;">

                    <ng-autocomplete [data]="searchResult" [searchKeyword]="keywordResellerName" id="reseller_name"
                      formControlName="reseller_name" (selected)='selectEventReseller($event)'
                      (inputChanged)='searchResellerData($event)' (inputFocused)='onFocusedReseller($event)'
                      [itemTemplate]="itemTemplateCustomer" [notFoundTemplate]="notFoundTemplate"
                      style="padding: 4px 5px !important;">
                    </ng-autocomplete>

                    <ng-template #itemTemplateCustomer let-item>
                      <a [innerHTML]="item.customerName"></a>
                    </ng-template>

                    <ng-template #notFoundTemplate let-notFound>
                      <div [innerHTML]="notFound"></div>
                    </ng-template>

                  </div>


                </div>
              </div>

            </div>




          </div>
          <div class="mt-4">

          </div>
        </form>

      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary" (click)="saveCustomer()">
          Update
        </button>
        <button type="button" class="btn btn-dark" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!----------Modal Pop Up (END)  for SST Tax end------------------>