<div class="contents-section">

    <div class="row no-gutters">
        <div class="col-lg-12 mb-30">
            <div class="card">
                <div class="card-header color-dark fw-500">
                    <h3 class="card-header-section">
                        <a href="#" class="breadcrumb-item"><i class="fas fa-home"></i> Home</a>
                        <span class="breadcrumb-item active">DID Number Catalog</span>
                    </h3>
                    <div class="quotation-btn-section">


                        <button type="button" class="btn btn-primary btn-default btn-squared"
                            title="Search Product Category" style="margin-right: 10px;">
                            <i class="fas fa-search" style="margin-right:10px;"></i>Search
                        </button>

                    </div>
                </div>
                <div class="card-body">
                    <div class="grid-container">
                        <div class="grid-item"><div class="number">241</div><div class="description">67157000(SG)</div></div>
                        <div class="grid-item"><div class="number">163</div><div class="description">63401000(SG)</div></div>
                        <div class="grid-item"><div class="number">2</div><div class="description">DIDWW</div></div>
                        <div class="grid-item"><div class="number">106</div><div class="description">0327123100(MY)</div></div>
                        <div class="grid-item"><div class="number">59</div><div class="description">62061888(SG)</div></div>
                        <div class="grid-item"><div class="number">101</div><div class="description">043717800(MY)</div></div>
                        <div class="grid-item"><div class="number">78</div><div class="description">072668000(MY)</div></div>
                        <div class="grid-item"><div class="number">267</div><div class="description">0364195000(MY)</div></div>
                        <div class="grid-item"><div class="number">2</div><div class="description">Others</div></div>
                        <div class="grid-item"><div class="number">1</div><div class="description">Global Roam</div></div>
                        <div class="grid-item"><div class="number">0</div><div class="description">Voxbone</div></div>
                        <div class="grid-item"><div class="number">75</div><div class="description">0366359334(JP)</div></div>
                        <div class="grid-item"><div class="number">0</div><div class="description">Hooio(SG)</div></div>
                        <div class="grid-item"><div class="number">169</div><div class="description">CAT(TH)</div></div>
                        <div class="grid-item"><div class="number">0</div><div class="description">Viva(IND)</div></div>
                        <div class="grid-item"><div class="number">1</div><div class="description">032707300(MY)</div></div>
                        <div class="grid-item"><div class="number">46</div><div class="description">0327889500(MY)</div></div>
                        <div class="grid-item"><div class="number">38</div><div class="description">0327890000(MY)</div></div>
                        <div class="grid-item"><div class="number">0</div><div class="description">0327241100(MY)</div></div>
                        <div class="grid-item"><div class="number">0</div><div class="description">0327888400(MY)</div></div>
                        <div class="grid-item"><div class="number">65</div><div class="description">60320278500(MY)</div></div>
                        <div class="grid-item"><div class="number">0</div><div class="description">Multitel</div></div>
                        <div class="grid-item"><div class="number">27</div><div class="description">FPT(VNM)</div></div>
                        <div class="grid-item"><div class="number">21</div><div class="description">MyRepublic(SG)</div></div>
                        <div class="grid-item"><div class="number">6</div><div class="description">Jasnita(INDO)</div></div>
                        <div class="grid-item"><div class="number">0</div><div class="description">Telnyx</div></div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>