<header class="header-top">
    <nav class="navbar navbar-light">
        <div class="navbar-left">
            <a href="#" class="sidebar-toggle">
                <img class="svg" src="assets/img/svg/bars.svg" alt="img"></a>
            <!-- <a class="navbar-brand" href="#"><img class="dark" src="assets/img/logo_dark.png" alt="svg"><img class="light" src="assets/img/logo_white.png" alt="img"></a> -->
            <a class="navbar-brand" href="#"><img class="dark logo-size" src="assets/img/cal4care-logo-dark.png"
                    alt="svg"><img class="light logo-size" src="assets/img/cal4care-logo-white.png" alt="img"></a>




            <div class="top-menu">


            </div>
        </div>
        <!-- ends: navbar-left -->
        <!------------------ActionIdxx1-Task List-Starts  ---------------------->
        <div class="modal fade" data-backdrop="false" id="ActionIdxx1" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ActionId" role="document" style="max-width: 1000px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="col-12 modal-title text-center"
                            style="margin-bottom: 0;font-size: 30px;font-weight: 500;color: #070096;">Task List
                        </span>
                        <button type="button" class="Close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="userDatatable global-shadow border-0 bg-white w-100">
                            <div class="table-responsive">
                                <table class="table mb-0 table-borderless">
                                    <thead>
                                        <tr class="userDatatable-header">

                                            <th>
                                                <span class="userDatatable-title">#</span>
                                            </th>

                                            <th>
                                                <span class="userDatatable-title">Name</span>
                                            </th>
                                            <th>
                                                <span class="userDatatable-title">Link</span>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td> 1</td>
                                            <td>Activation form Link</td>
                                            <td><a href="https://cal4care.atlassian.net/servicedesk/customer/portal/9/create/10062"
                                                    alt="text">https://cal4care.atlassian.net/servicedesk/customer/portal/9/create/10062</a>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td> 2</td>
                                            <td>Deactivation Form Link</td>
                                            <td><a href="https://cal4care.atlassian.net/servicedesk/customer/portal/9/create/10142"
                                                    alt="text">
                                                    https://cal4care.atlassian.net/servicedesk/customer/portal/9/create/10142</a>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td> 3</td>
                                            <td>Demo from</td>
                                            <td><a href="https://cal4care.atlassian.net/servicedesk/customer/portal/9/create/10145"
                                                    alt="text">
                                                    https://cal4care.atlassian.net/servicedesk/customer/portal/9/create/10145</a>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td> 4</td>
                                            <td>Change request form</td>
                                            <td><a href="https://cal4care.atlassian.net/servicedesk/customer/portal/9/create/10060"
                                                    alt="text">https://cal4care.atlassian.net/servicedesk/customer/portal/9/create/10060</a>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td> 5</td>
                                            <td>Internal support</td>
                                            <td><a href="https://cal4care.atlassian.net/servicedesk/customer/portal/9/create/10158"
                                                    alt="text">https://cal4care.atlassian.net/servicedesk/customer/portal/9/create/10158</a>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td> 6</td>
                                            <td>Report Incident</td>
                                            <td><a href="https://cal4care.atlassian.net/servicedesk/customer/portal/9/create/10061"
                                                    alt="text">
                                                    https://cal4care.atlassian.net/servicedesk/customer/portal/9/create/10061</a>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td> 7</td>
                                            <td> For IT Help</td>
                                            <td><a href="https://cal4care.atlassian.net/servicedesk/customer/portal/9/create/10059"
                                                    alt="text">https://cal4care.atlassian.net/servicedesk/customer/portal/9/create/10059</a>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td> 8</td>
                                            <td>3CX Licence related</td>
                                            <td><a href="https://cal4care.atlassian.net/servicedesk/customer/portal/20/create/84"
                                                    alt="text">https://cal4care.atlassian.net/servicedesk/customer/portal/20/create/84</a>
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" style="line-height: 10px;height: 40px;width: 80px;"
                            data-dismiss="modal">
                            Cancel
                        </button>

                    </div>
                </div>

            </div>
        </div>
        <!-------------------ActionIdxx1-Task List--Ends  ------------------------->
        <!------------------ActionIdxx2-Global Search-Starts  ---------------------->
        <div class="modal fade" data-backdrop="false" id="ActionIdxx2" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content addcustomernewallcss">
                    <div class="modal-header " style="background-color: #cae0e0;">
                        <h1 class="col-11 col-11 modal-title text-center text-center" id="addModalLongTitle"
                            style="font-weight: 500;font-size:x-large; color: #861F41 !important;">Global Search
                        </h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body mousepoint mt-0">
                        <form [formGroup]="ContractDetailsForm" *ngIf="(show==false)">
                            <label for="companyCode" class="col-lg-12 col-form-label"
                                style="font-weight: 420;font-size:large; color: #C04000;padding-left:0;">Contract
                                Details</label>

                            <div class="userDatatable global-shadow border-0 bg-white w-100">
                                <div class="table-responsive">
                                    <table class="table mb-0 table-borderless">
                                        <thead>
                                            <tr class="userDatatable-header">
                                                <th>Contract Name</th>
                                                <th>Contract Desc</th>
                                                <th>Remarks</th>
                                                <th>Contract Period</th>
                                                <th>Classfy</th>

                                            </tr>
                                        </thead>
                                        <tbody *ngIf="this.contract_filter==true">

                                            <tr *ngFor="let item of customerContractlist;let i=index">
                                                <td>{{item.contract_name}}</td>
                                                <td>{{item.contract_description}}</td>
                                                <td>{{item.remark_desc}}</td>
                                                <td>{{item.from_dt}}{{" "}}to {{" "}}{{item.to_dt}} </td>
                                                <td>
                                                    {{item.classification_name}} <br>                                          
                                                    <input type="color" value="{{item.color}}"  [disabled]="isColorInputDisabled"
                                                    (click)="toggleColorInput()" />
                                                    <!-- <input type="color" formControlName="contractColor"
                                                    [disabled]="isColorInputDisabled"
                                                    (click)="toggleColorInput()" /> -->

                                                </td>
                                                <!-- <td>  <input type="color" />{{'#'+item.color}} </td> -->

                                            </tr>



                                        </tbody>
                                        <tbody *ngIf="this.contract_filter==false">

                                            <tr>
                                                <td colspan="4">Contract Not Available</td>
                                            </tr>

                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <label for="companyRese" class="col-lg-12 col-form-label"
                                style="font-weight: 420;font-size: large; color: #C04000;padding-left:0;">Reseller
                                Information</label>

                            <div class="userDatatable global-shadow border-0 bg-white w-100">
                                <div class="table-responsive">
                                    <table class="table mb-0 table-borderless">
                                        <thead>
                                            <tr class="userDatatable-header">
                                                <th>Reseller Attributes</th>
                                                <th>Reseller Values</th>


                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Reseller Id</td>
                                                <td>{{ this.resellerList_ResellerId}}</td>

                                            </tr>
                                            <tr>
                                                <td>Currency</td>
                                                <td>{{ this.resellerList_CurrencyName}}</td>

                                            </tr>
                                            <tr>
                                                <td>Discount</td>
                                                <td>{{ this.resellerList_ResellerDiscount}}</td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-12" style="padding-left:0">
                                <label for="sendCustCredentials" class="col-lg-3 col-form-label"
                                    style="font-weight: 420;color: blue; padding-left:0;">Send Customer
                                    Credentials</label>
                                <a href="#" id="sendQuickMailLink_3928">

                                    <i class="fa fa-fw fa-envelope tooltips" data-trigger="hover"
                                        data-original-title="Quick Mail" title="Quick Mail"
                                        style="font-size:17px; color:#C04000; width:18px;padding-left:-16;"
                                        (click)="QuickMail_Customer()"></i>
                                </a>
                                <!-- <i class="fa-solid fa-envelope fa-beat-fade " style="color: #5a52eb;"></i> -->
                            </div>

                        </form>
                        <form [formGroup]="GlobalSearch">
                            <div class="row mt-2">
                                <div class="col-lg-6">
                                    <div class="col-lg-12" style="padding-left:0">
                                        <label class="col-lg-3 col-form-label"
                                            style="font-weight: 420;color: blue; padding-left:0;"> Select Pages<span
                                                class="mandatoryField">*</span></label>
                                        <input class="checkbox" style="margin-left:5px ;" type="checkbox" id="check-3"
                                            (change)=" CHKAll_SelectPageSelectAll($event)">{{" "}}All Page
                                        <div class="CheckboxScroll">

                                            <div *ngFor="let display of SelectPageList;let i =index;"
                                                style="padding-left: 30px;">
                                                <input type="checkbox" style="margin-right:5px ;"
                                                    id="check-grp-SelectPage-{{i}}" [value]="display.menu_name"
                                                    checked="{{display.checked=='true' ? 'checked':''}}"
                                                    (change)="addSelectPageCHK(display.menu_name,$event)">{{display.menu_name}}

                                            </div>
                                        </div>
                                    </div>





                                </div>

                                <div class="col-lg-6 ml-0">


                                    <div class="col-lg-12">
                                        <div class="form-group row">
                                            <div class="ng-autocomplete">
                                                <label for="GS_CustomerCode" class="col-lg-12 col-form-label"
                                                    style="font-weight: 420;color: blue;">Customer
                                                    Code<span class="mandatoryField">
                                                        *</span></label>
                                                <ng-autocomplete [data]="searchResult_code"
                                                    [searchKeyword]="keywordCompanyCode"
                                                    formControlName="GS_CustomerCode"
                                                    (selected)='selected_CustomerCode($event)'
                                                    (inputChanged)='inpChanged_CodeData($event)'
                                                    (inputFocused)='onFocused_CustomerCode($event)'
                                                    [itemTemplate]="itemTemplateCustomerCode"
                                                    [notFoundTemplate]="notFoundTemplate">
                                                </ng-autocomplete>

                                                <ng-template #itemTemplateCustomerCode let-item>
                                                    <a [innerHTML]="item.customerCode"></a>
                                                </ng-template>

                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>

                                            </div>
                                            <div *ngIf="GlobalSearch.controls['GS_CustomerCode'].invalid && (GlobalSearch.controls['GS_CustomerCode'].dirty || GlobalSearch.controls['GS_CustomerCode'].touched)"
                                                class="alert alert-danger alertdangerCustomCSS mt-2">
                                                Company Name is Required
                                            </div>

                                        </div>
                                    </div>

                                    <!-- <div class="col-lg-12">
                                <div class="form-group row">
                                    <label for="companyCode " class="col-lg-12 col-form-label">Customer Name<span
                                            class="mandatoryField">
                                            *</span></label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" formControlName="GS_CustomerName"
                                            id="companyCode" />
                                    </div>
                                </div>
                            </div> -->
                                    <div class="col-lg-12">
                                        <div class="form-group row">
                                            <div class="ng-autocomplete">
                                                <label for="companyName" class="col-lg-12 col-form-label"
                                                    style="font-weight: 420;color: blue; ">Company
                                                    Name<span class="mandatoryField">
                                                        *</span></label>
                                                <ng-autocomplete [data]="searchResult"
                                               
                                                    [searchKeyword]="keywordCompanyName"
                                                    formControlName="GS_CustomerName"
                                                    (selected)='selectEventCustomer($event)'
                                                    (inputChanged)='searchCustomerData($event)'
                                                    (inputFocused)='onFocusedCustomer($event)'
                                                    [itemTemplate]="itemTemplateCustomer"
                                                    [notFoundTemplate]="notFoundTemplate">
                                                </ng-autocomplete>

                                                <ng-template #itemTemplateCustomer let-item>
                                                    <a [innerHTML]="item.customerName"></a>
                                                </ng-template>

                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>

                                            </div>
                                            <div *ngIf="GlobalSearch.controls['GS_CustomerName'].invalid && (GlobalSearch.controls['GS_CustomerName'].dirty || GlobalSearch.controls['GS_CustomerName'].touched)"
                                                class="alert alert-danger alertdangerCustomCSS mt-2">
                                                Company Name is Required
                                            </div>

                                        </div>
                                    </div>
                                    <label class="col-lg-12 col-form-label" style="text-align: center;">-- OR --</label>

                                    <div class="col-lg-12">
                                        <div class="form-group row">
                                            <div class="ng-autocomplete">
                                                <label for="GS_DIDNumber" class="col-lg-12 col-form-label"
                                                    style="font-weight: 420;color: blue; ">DID
                                                    Number<span class="mandatoryField">
                                                        *</span></label>
                                                <ng-autocomplete [data]="searchResult_DIDNumber"
                                                    [searchKeyword]="keywordDIDNumber" formControlName="GS_DIDNumber"
                                                    (selected)='selected_DIDNumber($event)'
                                                    (inputChanged)='inpChanged_DIDNumber($event)'
                                                    (inputFocused)='onFocused_DIDNumber($event)'
                                                    [itemTemplate]="itemTemplatedidnumbers"
                                                    [notFoundTemplate]="notFoundTemplate">
                                                </ng-autocomplete>

                                                <ng-template #itemTemplatedidnumbers let-item>
                                                    <a [innerHTML]="item.did_numbers"></a>
                                                </ng-template>

                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>

                                            </div>
                                            <div *ngIf="GlobalSearch.controls['GS_DIDNumber'].invalid && (GlobalSearch.controls['GS_DIDNumber'].dirty || GlobalSearch.controls['GS_DIDNumber'].touched)"
                                                class="alert alert-danger alertdangerCustomCSS mt-2">
                                                Company Name is Required
                                            </div>

                                        </div>
                                    </div>


                                    <!-- <div class="col-lg-12">
                                <div class="form-group row">
                                    <label for="companyCode " class="col-lg-12 col-form-label">DID Number<span
                                            class="mandatoryField">
                                            *</span></label>
                                    <div class="col-lg-12">
                                        <input type="text" class="form-control" formControlName="GS_DIDNumber"
                                            id="companyCode" />
                                    </div>
                                </div>
                            </div> -->

                                    <label class="col-lg-12 col-form-label" style="text-align: center;">-- OR --</label>

                                    <div class="col-lg-12">
                                        <div class="form-group row">
                                            <div class="ng-autocomplete">
                                                <label for="GS_LicenseNumber" class="col-lg-12 col-form-label"
                                                    style="font-weight: 420;color: blue; ">License
                                                    Number<span class="mandatoryField">
                                                        *</span></label>
                                                <ng-autocomplete [data]="searchResult_LicenseNumber"
                                                    [searchKeyword]="keywordLicenseNumber"
                                                    formControlName="GS_LicenseNumber"
                                                    (selected)='selected_LicenseNumber($event)'
                                                    (inputChanged)='inpChanged_LicenseNumber($event)'
                                                    (inputFocused)='onFocused_LicenseNumber($event)'
                                                    [itemTemplate]="itemTemplateLicensenumbers"
                                                    [notFoundTemplate]="notFoundTemplate">
                                                </ng-autocomplete>

                                                <ng-template #itemTemplateLicensenumbers let-item>
                                                    <a [innerHTML]="item.license_key"></a>
                                                </ng-template>

                                                <ng-template #notFoundTemplate let-notFound>
                                                    <div [innerHTML]="notFound"></div>
                                                </ng-template>

                                            </div>
                                            <div *ngIf="GlobalSearch.controls['GS_DIDNumber'].invalid && (GlobalSearch.controls['GS_DIDNumber'].dirty || GlobalSearch.controls['GS_DIDNumber'].touched)"
                                                class="alert alert-danger alertdangerCustomCSS mt-2">
                                                Company Name is Required
                                            </div>

                                        </div>
                                    </div>
                                </div>




                            </div>


                        </form>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="searchGlobalList();">
                            Search
                        </button>
                        <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="gotoRoot()">
                            Cancel
                        </button>

                    </div>
                    <div *ngIf="this.dashboard==true">
                        <!-- <app-ProformaInvoiceComponent></app-ProformaInvoiceComponent>
                        <app-InvoiceComponent></app-InvoiceComponent> -->
                    </div>
                </div>
            </div>
        </div>
        <!-------------------ActionIdxx2-Global Search--Ends  ------------------------->
        <!-------------------ActionIdxxModalAll-Global Search Output Accordin--Start  ------------------------->
        <div class="modal fade" data-backdrop="false" id="ActionIdOutput" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="max-width: 100%;min-height:100% ;">

            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content addcustomernewallcss">
                    <div class="modal-header">
                        <h1 class="col-11 col-11 modal-title text-center text-center" id="addModalLongTitle">Global
                            Search
                        </h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>
                    <div class="modal-body">


                        <div class="accordion" id="accordionExample">

                            <!-- <div class="card" *ngFor="let item of SelectPageList;let i=index">
                        <div class="card-header" id="heading{i}">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              <span> {{item.menu_name}}</span>
                              <i class="fa fa-chevron-down" aria-hidden="true"></i>
                              <i class="fa fa-chevron-up" aria-hidden="true"></i>
                            </button>
                          </h2>
                        </div>
                    
                        <div id="collapseOne" class="collapse show" aria-labelledby="heading{i}" data-parent="#accordionExample">
                          <div class="card-body">
                            {{item.pageId}}
                          </div>
                        </div>
                      </div> -->



                            <!-- <div class="card" *ngFor="let item of componentDynamic;let i=index">
                                <div class="card-header" id="heading{i}">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button"
                                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <span> {{item}}</span>
                                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                            <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="heading{i}"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        {{item}}
                                        <div [ngSwitch]="'{{item}}'">
                                            <div *ngSwitchCase="'Invoice'">
                                                alert("invoice alert")
                                                <app-dup-proforma-invoice></app-dup-proforma-invoice>
                                            </div>
                                            <div *ngSwitchCase="'Customer New'">
                                                alert("customer new alert")
                                                <app-dup-customer-new-all></app-dup-customer-new-all>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- <div class="card" *ngFor="let item of componentDynamic; let i = index">
                                <div class="card-header" [id]="'heading' + i">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button"
                                            data-toggle="collapse" [attr.data-target]="'#collapse' + i"
                                            [attr.aria-expanded]="i === 0" [attr.aria-controls]="'collapse' + i">
                                            <span>{{item}}</span>
                                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                            <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                        </button>
                                    </h2>
                                </div>

                                <div [id]="'collapse' + i" class="collapse" [attr.aria-labelledby]="'heading' + i"
                                    data-parent="#accordionExample">
                                    <div class="card-body">

                                        <ng-container [ngSwitch]="item">
                                            <div *ngSwitchCase="'Credit Note'">
                                                <p>Credit Note</p>
                                            </div>
                                            <div *ngSwitchCase="'Customer New'">

                                                <app-dup-customer-new-all></app-dup-customer-new-all>
                                            </div>
                                            <div *ngSwitchCase="'Customer Project'">
                                                <p>Customer Project</p>
                                            </div>
                                            <div *ngSwitchCase="'DID Number'">
                                                <p>DID Number</p>
                                            </div>
                                            <div *ngSwitchCase="'Invoice'">
                                                <app-dup-invoice></app-dup-invoice>
                                            </div>
                                            <div *ngSwitchCase="'License Key New'">
                                                <p>License Key New</p>
                                            </div>
                                            <div *ngSwitchCase="'Prepaid Note'">
                                                <p>Prepaid Note</p>
                                            </div>
                                            <div *ngSwitchCase="'Proforma Invoice'">
                                                <app-dup-proforma-invoice></app-dup-proforma-invoice>
                                            </div>
                                            <div *ngSwitchCase="'Quotation New'">
                                                <app-dup-quotation-new></app-dup-quotation-new>
                                            </div>
                                            <div *ngSwitchCase="'Vs Provisioning'">
                                                <p>Vs Provisioning</p>
                                            </div>

                                        </ng-container>
                                    </div>
                                </div>
                            </div> -->

                            <div class="card" *ngIf="(this.PI_UI_Show!=0)">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button"
                                            data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <span>Proforma Invoice</span>
                                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                            <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                        </button>
                                    </h2>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body" *ngIf="(this.PI_UI_Show!=0)">
                                        <app-dup-proforma-invoice></app-dup-proforma-invoice>
                                    </div>
                                </div>
                            </div>
                            <div class="card" *ngIf="(this.Invoice_UI_Show!=0)">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                            aria-controls="collapseTwo">
                                            <span>Invoice</span>
                                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                            <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body">

                                        <app-dup-invoice></app-dup-invoice>
                                    </div>
                                </div>
                            </div>
                            <div class="card" *ngIf="(this.Quot_UI_Show!=0)">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            <span>Quotation</span>
                                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                            <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                          <app-dup-quotation-new></app-dup-quotation-new>  
                                    </div>
                                </div>
                            </div>
                            <div class="card" *ngIf="(this.Cust_UI_Show!=0)">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            <span>Customer</span>
                                            <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                            <i class="fa fa-chevron-up" aria-hidden="true"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                         <app-dup-customer-new-all></app-dup-customer-new-all> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">

                        <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="closeModal()">
                            Cancel
                        </button>

                    </div>
                </div>
            </div>
        </div>
        <!-------------------ActionIdxxModalAll-Global Search Output Accordin--Ends  ------------------------->




        <div class="navbar-right">
            <ul class="navbar-right__menu">

                <!-- ends: nav-message -->

                <!-- ends: .nav-notification -->

                <!-- ends: .nav-settings -->

                <!-- ends: .nav-support -->

                <!-- ends: .nav-flag-select -->
                <li>

                    <a href="#" class="navbar-brand" (click)="PageList()">
                        <!-- <img class="svg" src="assets/img/icon2/search-bar.png" style="height: 30px;width:50px" alt="img"
                    data-toggle="modal" data-target="#ActionIdxx2"></a> -->
                        <img class="svg" src="assets/img/icon2/Global_Searc.png" style="height: 30px;width:30px"
                        (click)="showFunction()"    alt="img" title="Global Search" data-toggle="modal" data-target="#ActionIdxx2"></a>
                </li>
                <li> <a href="#" class="navbar-brand">
                        <img class="svg" src="assets/img/icon2/checklist.png" title="Task List"
                            style="height: 30px;width:30px" alt="img" data-toggle="modal"
                            data-target="#ActionIdxx1"></a></li>
                <li class="nav-author">

                    <!-- <a href="https://dev.cal4care.com/erp/quotationNew.php?ac=QuotationNew" class="nav-item-toggle"><img src="{{this.user_ProfileImage}}" alt="" class="rounded-circle"></a> -->
                    <a href="https://dev.cal4care.com/erp/content.php" class="nav-item-toggle"><button
                            class="btn btn-light">Old ERP Link</button></a>
                </li>
                <li class="nav-author">
                    <div class="dropdown-custom">
                        <a href="javascript:;" class="nav-item-toggle"><img src="{{this.user_ProfileImage}}" alt=""
                                class="rounded-circle"></a>
                        <div class="dropdown-wrapper">
                            <div class="nav-author__info">
                                <div class="author-img">
                                    <img src="{{this.user_ProfileImage}}" alt="" class="rounded-circle">
                                </div>

                                <div>
                                    <h6>{{this.userName}}</h6>
                                    <!-- <span>Designation</span> -->
                                </div>
                            </div>
                            <div class="nav-author__options">
                                <!-- <ul>
                                <li>
                                    <a href="#">
                                        <span data-feather="user"></span> Profile</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span data-feather="settings"></span> Settings</a>
                                </li>
                               
                             
                               
                            </ul> -->
                                <a href="#" class="nav-author__signout" (click)="logout()">
                                    <!-- <span data-feather="log-out"></span> Sign Out</a> -->
                                    <span></span> Sign Out</a>
                            </div>
                        </div>
                        <!-- ends: .dropdown-wrapper -->
                    </div>
                </li>
                <!-- ends: .nav-author -->
            </ul>
            <!-- ends: .navbar-right__menu -->
            <div class="navbar-right__mobileAction d-md-none">
                <a href="#" class="btn-search">
                    <span data-feather="search"></span>
                    <span data-feather="x"></span></a>
                <a href="#" class="btn-author-action">
                    <span data-feather="more-vertical"></span></a>
            </div>
        </div>

        <!-- ends: .navbar-right -->
    </nav>
</header>