<div class="contents-section">
    <div class="row no-gutters">
        <div class="col-lg-12 mb-30">
            <div class="card">
                <div class="card-header color-dark fw-500">
                    <h3 class="card-header-section">
                        <a href="#" class="breadcrumb-item"><i class="fas fa-home"></i> Home</a>
                        <span class="breadcrumb-item active">License Key Management </span>
                    </h3>
                    <div class="actions">
                        <button class="btn btn-primary" (click)="openAddModal()">+ Add License Key</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <!-- Search Input -->
                <div class="search-container">
                    <label for="searchText">Search:</label>
                    <input type="text" id="searchText" placeholder="Search" class="search-input form-control" [(ngModel)]="searchText" (input)="onSearchChange()" />
                </div>
            
                <!-- Table with Paginated List -->
                <table class="table table-striped table-bordered mt-3">
                    <thead>
                        <tr>
                            <th><input type="checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()"/></th>
                            <th>S.NO</th>
                            <th>Customer Name</th>
                            <th>Email Id</th>
                            <th>Product Code</th>
                            <th>Product Name</th>
                            <th>Hardware ID</th>
                            <th>License Key</th>
                            <th>Concurrent</th>
                            <th>Installation Date</th>
                            <th>License Updated Date</th>
                            <th>Remaining Days</th>
                            <!-- <th>Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of licenseKey">
                            <td><input type="checkbox" name="sno_chk[]" [(ngModel)]="item.selected" class="check_all_cls"></td>
                            <td>{{ item.sno }}</td>
                            <td>{{ item.company_name }}</td>
                            <td>{{ item.email_id }}</td>
                            <td>{{ item.product_code }}</td>
                            <td>{{ item.product_name }}</td>
                            <td>{{ item.hwid }}</td>
                            <td>{{ item.license_key }}</td>
                            <td>{{ item.concurrent }}</td>
                            <td>{{ item.installation_date }}</td>
                            <td>{{ item.licenseUpdatedDate }}</td>
                            <td>{{ item.license_issue_dt }}</td>
                            <!-- <td>
                                <a href="javascript:sendMailPopupCouponDetails({{ item.sno }})"><img src="images/icons/email.png" alt="Mail"></a>
                                <a href="javascript:isDef({{ item.sno }})"><img src="images/active.jpg" alt="Status" width="17" height="14"></a>
                                <a href="javascript:set_terms_condition({{ item.sno }})" style="background-color:#66FFCC;padding:3px;border-radius:5px;width: 18px" title="Set Key Period"><strong>SET</strong></a>
                                <a href="javascript:set_license_key_flush({{ item.sno }})" style="background-color:#CCFF00;padding:3px;border-radius:5px;width: 18px" title="License Key Flush"><strong>FL</strong></a>
                                <a href="javascript:update_customer({{ item.sno }})" style="background-color:#CCFF00;padding:3px;border-radius:5px;width: 18px" title="License Key Demo Issues Customer"><strong>R</strong></a>
                            </td> -->
                        </tr>
                    </tbody>
                    <tr *ngIf="licenseKey.length === 0">
                        <td colspan="12">No license keys available</td>
                    </tr>
                </table>
            
                <!-- Pagination Controls -->
                <div class="pagination">
                    <button (click)="changePage(1)" [disabled]="currentPage === 1"><<</button>
                    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1"><</button>
                    
                    <!-- Conditionally display page numbers and ellipses -->
                    <span *ngIf="currentPage > 2"><button (click)="changePage(1)">1</button></span>
                    <span *ngIf="currentPage > 3"><span>...</span></span>
                    
                    <button *ngFor="let page of getPages()" 
                            (click)="changePage(page)" 
                            [class.active]="currentPage === page">{{ page }}</button>
                
                    <span *ngIf="currentPage < totalPages - 2"><span>...</span></span>
                    <span *ngIf="currentPage < totalPages - 1"><button (click)="changePage(totalPages)">{{ totalPages }}</button></span>
                    
                    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">></button>
                    <button (click)="changePage(totalPages)" [disabled]="currentPage === totalPages">>></button>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="modal AddModal" [ngClass]="{'show': showAddModal}">
    <div class="modal-content">
        <div class="modal-header">
            <h3>License Key Group Add</h3>
            <span class="close" (click)="closeAddModal()">&times;</span>
        </div>
        <div class="modal-body">
            <form (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="license-key-count">How many License Key do you want?</label>
                <input type="text" id="license-key-count" class="form-control" [(ngModel)]="licenseKeyCount" name="licenseKeyCount" required />
              </div>
              <div class="form-group">
                <label for="product-code">Product Code</label>
                <input type="text" id="product-code" class="form-control" [(ngModel)]="productCode" name="productCode" required />
              </div>
              <div class="form-group">
                <label for="product-name">Product Name</label>
                <input type="text" id="product-name" class="form-control" [(ngModel)]="productName" name="productName" required />
              </div>
          
              <button type="submit" class="btn btn-save">Submit</button>
          
              <!-- Hidden fields with *ngFor to repeat based on the response data -->
              <div *ngIf="hiddenFieldsVisible">
                <div *ngFor="let key of hiddenLicenseKeys; let i = index"  class="row" style="margin-top: 20px;">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="hidden-product-code-{{i}}">Product Code</label>
                      <input type="text" id="hidden-product-code-{{i}}" class="form-control" [(ngModel)]="hiddenProductCodes[i]" name="hiddenProductCode{{i}}" />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="hidden-product-name-{{i}}">Product Name</label>
                      <input type="text" id="hidden-product-name-{{i}}" class="form-control" [(ngModel)]="hiddenProductNames[i]" name="hiddenProductName{{i}}" />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label for="hidden-license-key-{{i}}">License Key</label>
                      <input type="text" id="hidden-license-key-{{i}}" class="form-control" [(ngModel)]="hiddenLicenseKeys[i]" name="hiddenLicenseKey{{i}}" readonly />
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          
          <!-- Action buttons -->
          <div class="actions mt-3">
            <button type="button" class="btn btn-save" [disabled]="!isSubmitting" (click)="saveLicensekey()">Save</button>
            <button type="button" class="btn btn-cancel" (click)="closeAddModal()">Cancel</button>
          </div>
          
    </div>
</div>
