<div class="contents-section">

  <div class="row no-gutters">
    <div class="col-lg-12 mb-30">
      <div class="card">
        <div class="card-header color-dark fw-500">
          <h3 class="card-header-section">
            <a href="#" class="breadcrumb-item"><i class="fas fa-home"></i> Home</a>
            <span class="breadcrumb-item active">Purchase Entry -Voip Trend</span>
          </h3>
        </div>

          <div class="card-body">
            <form [formGroup]="initialLoadForm">
              <div class="row" >
                <div class="col-lg-2 ">
                  <div class="form-group">
                    <label for="yearType" class="col-lg-12 "><strong>Select Years</strong></label>
                    <div class="col-lg-12">
                      <select id="yearTypeid" class="form-control" style="background-color: aliceblue;"
                      formControlName="yearType" (change)="yearChange($event)">
                        <option [ngValue]="null" selected>Choose Years</option>
                        <option *ngFor="let exp of yearsList" value="{{exp.yearId}}">
                          {{exp.value}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
  
                <!-- <div class="col-lg-2 ">
                  <div class="form-group">
                    <label for="monthType" class="col-lg-12 "><strong>Select Month</strong></label>
                    <div class="col-lg-12">
                      <select id="monthTypeid" class="form-control" 
                      style="background-color: aliceblue;" formControlName="monthType" (change)="monthChange($event)">
                        <option [ngValue]="null" selected>Choose Month</option>
                        <option *ngFor="let exp of monthList" value="{{exp.monthId}}">
                          {{exp.value}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div> -->
  
                <div class="col-lg-2 ">
                  <div class="form-group">
                    <label for="billerType" class="col-lg-12 "><strong>Select Biller</strong></label>
                    <div class="col-lg-12" >
                      <select id="billerTypeid" class="form-control" 
                      style="background-color: aliceblue;" formControlName="billerType" (change)="billerChange($event)">
                     
  
                        <option [ngValue]="null" selected>Choose Biller</option>
                        <option *ngFor="let exp of billerList" [value]="exp.billerId">
                          {{ exp.billerName }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
  
              </div>

            </form>
           

            <div class="userDatatable global-shadow border-0 bg-white w-100" id="cg">
              <div class="table-responsive" >
                <div class="table-container">
                  <table class="table mb-0 table-borderless">
                    <thead>
                      <tr class="userDatatable-header">
                        
                        <th style="border: 1px solid #e4ebf5;white-space: normal;">
                          <span class="userDatatable-title">Vendor Name</span>
                        </th>
                        <th style="border: 1px solid #e4ebf5;" *ngFor="let month of months">
                          <span class="userDatatable-title">{{ month }}</span>
                        </th>

                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let vendor of VendorData">
                        <tr>
                          <td class="gradient-cell">{{ vendor.vendorName }}</td>
                      
                          <!-- Loop through each month -->
                          <td *ngFor="let month of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
                            <!-- Filter entries by month -->
                            <ng-container *ngFor="let entry of getEntriesForMonthAndVendor(vendor.data, month)">
                              
                              <!-- Handle entryRow conditions -->
                              <ng-container [ngSwitch]="entry.entryRow">
                      
                                <!-- Cond1: entryRow = 1 -->
                                <ng-container *ngSwitchCase="1">
                                  <i *ngIf="entry.purchase_trend_id && entry.status === 1" 
                                     class="fa fa-check-circle" 
                                     style="color: green; margin: 2px;"></i>
                                  <i *ngIf="!entry.purchase_trend_id && entry.status === 2" 
                                     class="fa fa-times-circle" 
                                     style="color: #ffcc00; margin: 2px;"></i>
                                  <i *ngIf="!entry.purchase_trend_id && entry.status === 3" 
                                     class="fa fa-times-circle" 
                                     style="color: #880808; margin: 2px;"></i>
                                </ng-container>
                      
                                <!-- Cond2: entryRow = 2 -->
                                <ng-container *ngSwitchCase="2">
                                  <i *ngIf="entry.purchase_trend_id && entry.status === 1" 
                                     class="fa fa-check-circle" 
                                     style="color: green; margin: 2px;"></i>
                                  <i *ngIf="!entry.purchase_trend_id && entry.status === 2" 
                                     class="fa fa-times-circle" 
                                     style="color: #ffcc00; margin: 2px;"></i>
                                  <i *ngIf="!entry.purchase_trend_id && entry.status === 3" 
                                     class="fa fa-times-circle" 
                                     style="color: #880808; margin: 2px;"></i>
                                  <!-- <i *ngIf="!entry.purchase_trend_id && entry.status" 
                                     class="fa fa-circle" 
                                     style="color: #ccc; margin: 2px;"></i> -->
                                </ng-container>
                      
                                <!-- Cond3: entryRow = 3 -->
                                <ng-container *ngSwitchCase="3">
                                  <i *ngIf="entry.purchase_trend_id && entry.status === 1" 
                                     class="fa fa-check-circle" 
                                     style="color: green; margin: 2px;"></i>
                                  <i *ngIf="!entry.purchase_trend_id && entry.status === 2" 
                                     class="fa fa-times-circle" 
                                     style="color: #ffcc00; margin: 2px;"></i>
                                  <i *ngIf="!entry.purchase_trend_id && entry.status === 3" 
                                     class="fa fa-times-circle" 
                                     style="color: #880808; margin: 2px;"></i>
                                  <!-- <i *ngIf="!entry.purchase_trend_id && entry.status" 
                                     class="fa fa-circle" 
                                     style="color: #ccc; margin: 2px;"></i> -->
                                </ng-container>
                                <ng-container *ngSwitchCase="4">
                                  <i *ngIf="entry.purchase_trend_id && entry.status === 1" 
                                     class="fa fa-check-circle" 
                                     style="color: green; margin: 2px;"></i>
                                  <i *ngIf="!entry.purchase_trend_id && entry.status === 2" 
                                     class="fa fa-times-circle" 
                                     style="color: #ffcc00; margin: 2px;"></i>
                                  <i *ngIf="!entry.purchase_trend_id && entry.status === 3" 
                                     class="fa fa-times-circle" 
                                     style="color: #880808; margin: 2px;"></i>
                                  <!-- <i *ngIf="!entry.purchase_trend_id && entry.status" 
                                     class="fa fa-circle" 
                                     style="color: #ccc; margin: 2px;"></i> -->
                                </ng-container>
                                <ng-container *ngSwitchCase="5">
                                  <i *ngIf="entry.purchase_trend_id && entry.status === 1" 
                                     class="fa fa-check-circle" 
                                     style="color: green; margin: 2px;"></i>
                                  <i *ngIf="!entry.purchase_trend_id && entry.status === 2" 
                                     class="fa fa-times-circle" 
                                     style="color: #ffcc00; margin: 2px;"></i>
                                  <i *ngIf="!entry.purchase_trend_id && entry.status === 3" 
                                     class="fa fa-times-circle" 
                                     style="color: #880808; margin: 2px;"></i>
                                  <!-- <i *ngIf="!entry.purchase_trend_id && entry.status" 
                                     class="fa fa-circle" 
                                     style="color: #ccc; margin: 2px;"></i> -->
                                </ng-container>
                                <ng-container *ngSwitchCase="6">
                                  <i *ngIf="entry.purchase_trend_id && entry.status === 1" 
                                     class="fa fa-check-circle" 
                                     style="color: green; margin: 2px;"></i>
                                  <i *ngIf="!entry.purchase_trend_id && entry.status === 2" 
                                     class="fa fa-times-circle" 
                                     style="color: #ffcc00; margin: 2px;"></i>
                                  <i *ngIf="!entry.purchase_trend_id && entry.status === 3" 
                                     class="fa fa-times-circle" 
                                     style="color: #880808; margin: 2px;"></i>
                                  <!-- <i *ngIf="!entry.purchase_trend_id && entry.status" 
                                     class="fa fa-circle" 
                                     style="color: #ccc; margin: 2px;"></i> -->
                                </ng-container>
                                <ng-container *ngSwitchCase="7">
                                  <i *ngIf="entry.purchase_trend_id && entry.status === 1" 
                                     class="fa fa-check-circle" 
                                     style="color: green; margin: 2px;"></i>
                                  <i *ngIf="!entry.purchase_trend_id && entry.status === 2" 
                                     class="fa fa-times-circle" 
                                     style="color: #ffcc00; margin: 2px;"></i>
                                  <i *ngIf="!entry.purchase_trend_id && entry.status === 3" 
                                     class="fa fa-times-circle" 
                                     style="color: #880808; margin: 2px;"></i>
                                  <!-- <i *ngIf="!entry.purchase_trend_id && entry.status" 
                                     class="fa fa-circle" 
                                     style="color: #ccc; margin: 2px;"></i> -->
                                </ng-container>
                      
                              </ng-container>
                            </ng-container>
                          </td>
                        </tr>
                      </ng-container>
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card-body">
            <div *ngIf="vendorList?.length > 0; else loading">
              <div class="accordion" id="accordionPEVOIP">
                <div class="card" *ngFor="let vendor of vendorList; let i = index">
                  <!-- Accordion Header -->
                  <div class="card-header" [id]="'headingpevoip' + i">
                    <h2 class="mb-0">
                      <button class="btn btn-link" type="button"
                        [attr.data-toggle]="'collapse'"
                        [attr.data-target]="'#collapse' + i"
                        aria-expanded="false"
                        [attr.aria-controls]="'collapse' + i" 
                        (click)="fetchVendorDetails(vendor.vendor_id)">
                        {{ vendor.vendorName }}
                      </button>
                    </h2>
                  </div>
                  
                  <!-- Accordion Content -->
                  <div [id]="'collapse' + i" class="collapse"
                    [attr.aria-labelledby]="'headingpevoip' + i"
                    data-parent="#accordionPEVOIP">
                    <div class="card-body">
                     
                      <form [formGroup]="addPI_section2">
                        <div class="col-12" formArrayName="addresses">
                          
                            <div class="table-responsive">
                              <table class="add-contact-table-section">
                                <!-- Table Header -->
                                <thead>
                                  <tr class="userDatatable-header">
                                    <th><span class="userDatatable-title">Invoice No</span></th>
                                    <th><span class="userDatatable-title">Invoice Amount</span></th>
                                    <th><span class="userDatatable-title">Curr Conv Rate</span></th>
                                    <th><span class="userDatatable-title">Fixed Amount</span></th>
                                    <th><span class="userDatatable-title">Usage Amount</span></th>
                                    <th><span class="userDatatable-title">Other Amount</span></th>
                                    <th><span class="userDatatable-title">IDD Amount</span></th>
                                    <th><span class="userDatatable-title">Local Amount</span></th>
                                    <th><span class="userDatatable-title">Action</span></th>
                                  </tr>
                                </thead>
                                <tbody >
                                  <ng-container *ngFor="let address of addressControls.controls; let j = index;" [formGroupName]="j">
                                    <tr>
                                      <td colspan="13" style="border: 1px dotted blue;background-color: antiquewhite;">{{months[j]}}</td>
                                    </tr>
                                  
                                  <tr >
                                   
                                    <td>
                                      <input type="hidden" class="form-control" formControlName="purchase_trend_id" id="pd_purchase_trend_id{{j}}" />
                                      <input type="hidden" class="form-control" formControlName="purchaseEntryTempId" id="pd_purchaseEntryTempId{{j}}" />
                                      <input type="text" class="form-control" formControlName="invoiceNo" id="pd_invoiceNo{{j}}" />

                                      <input type="hidden" class="form-control" formControlName="vendorId" id="pd_vendorId{{j}}" />
                                      <input type="hidden" class="form-control" formControlName="billerid" id="pd_billerid{{j}}" />
                                      <input type="hidden" class="form-control" formControlName="year_val" id="pd_year_val{{j}}" />
                                      <input type="hidden" class="form-control" formControlName="ven_id" id="pd_ven_id{{j}}" />
                                      <input type="hidden" class="form-control" formControlName="mon_val" id="pd_mon_val{{j}}" />
                                      <input type="hidden" class="form-control" formControlName="entry_row" id="pd_entry_row{{j}}" />
                                    </td>
                                    <!-- Other Input Fields -->
                                    <td>
                                      <input type="number" class="form-control" formControlName="invoiceAmount1" id="pd_invoiceAmount1{{j}}" />
                                      <input type="number" class="form-control" formControlName="invoiceAmount2" id="pd_invoiceAmount2{{j}}" />
                                    </td>
                                    <td>
                                      <input type="text" class="form-control" formControlName="currConvRate" id="pd_currConvRate{{j}}" />
                                    </td>
                                    <!-- <td>
                                      <input type="number" class="form-control" formControlName="fixedAmount1" id="pd_fixedAmount1{{j}}" />
                                      <input type="number" class="form-control" formControlName="fixedAmount2" id="pd_fixedAmount2{{j}}" />
                                    </td> -->
                                    <td>
                                      <div class="input-group">
                                        <button 
                                          type="button" style="border-radius: 36px;padding: 2px 4px;line-height: 2px;"
                                          class="btn btn-outline-secondary btn-sm" 
                                          (click)="decreaseValue(j, 'fixedAmount1')"
                                        >
                                          -
                                        </button>
                                        <input 
                                          type="number" 
                                          class="form-control" 
                                          formControlName="fixedAmount1" 
                                          id="pd_fixedAmount1{{j}}" 
                                        />
                                        <button 
                                          type="button" style="border-radius: 36px;padding: 2px 4px;line-height: 2px;"
                                          class="btn btn-outline-primary btn-sm" 
                                          (click)="increaseValue(j, 'fixedAmount1')"
                                        >
                                          +
                                        </button>
                                      </div>
                                      <div class="input-group mt-2">
                                        
                                        <input 
                                          type="number" 
                                          class="form-control" 
                                          formControlName="fixedAmount2" 
                                          id="pd_fixedAmount2{{j}}" 
                                        />
                                       
                                      </div>
                                    </td>
                                    <td>
                                      <div class="input-group">
                                        <button style="border-radius: 36px;padding: 2px 4px;line-height: 2px;"
                                          type="button" 
                                          class="btn btn-outline-secondary btn-sm" 
                                          (click)="decreaseValue(j, 'usageAmount1')"
                                        >
                                          -
                                        </button>
                                        <input 
                                          type="number" 
                                          class="form-control" 
                                          formControlName="usageAmount1" 
                                          id="pd_usageAmount1{{j}}" 
                                        />
                                        <button style="border-radius: 36px;padding: 2px 4px;line-height: 2px;"
                                          type="button" 
                                          class="btn btn-outline-primary btn-sm" 
                                          (click)="increaseValue(j, 'usageAmount1')"
                                        >
                                          +
                                        </button>
                                      </div>
                                      <div class="input-group mt-2">
                                       
                                        <input 
                                          type="number" 
                                          class="form-control" 
                                          formControlName="usageAmount2" 
                                          id="pd_usageAmount2{{j}}" 
                                        />
                                       
                                      </div>
                                    </td>
                                    
                                    <!-- <td>
                                      <input type="number" class="form-control" formControlName="usageAmount1" id="pd_usageAmount1{{j}}" />
                                      <input type="number" class="form-control" formControlName="usageAmount2" id="pd_usageAmount2{{j}}" />
                                    </td> -->
                                    <td>
                                      <div class="input-group">
                                        <button style="border-radius: 36px;padding: 2px 4px;line-height: 2px;"
                                          type="button" 
                                          class="btn btn-outline-secondary btn-sm" 
                                          (click)="decreaseValue(j, 'otherAmount1')"
                                        >
                                          -
                                        </button>
                                        <input 
                                          type="number" 
                                          class="form-control" 
                                          formControlName="otherAmount1" 
                                          id="pd_otherAmount1{{j}}" 
                                        />
                                        <button style="border-radius: 36px;padding: 2px 4px;line-height: 2px;"
                                          type="button" 
                                          class="btn btn-outline-primary btn-sm" 
                                          (click)="increaseValue(j, 'otherAmount1')"
                                        >
                                          +
                                        </button>
                                      </div>
                                      <div class="input-group mt-2">
                                       
                                        <input 
                                          type="number" 
                                          class="form-control" 
                                          formControlName="otherAmount2" 
                                          id="pd_otherAmount2{{j}}" 
                                        />
                                       
                                      </div>
                                    </td>
                                    <!-- <td>
                                      <input type="text" class="form-control" formControlName="otherAmount1" id="pd_otherAmount1{{j}}" />
                                      <input type="text" class="form-control" formControlName="otherAmount2" id="pd_otherAmount2{{j}}" />
                                    </td> -->
                                    <td>
                                      <div class="input-group">
                                        <button style="border-radius: 36px;padding: 2px 4px;line-height: 2px;"
                                          type="button" 
                                          class="btn btn-outline-secondary btn-sm" 
                                          (click)="decreaseValue(j, 'IDDAmount1')"
                                        >
                                          -
                                        </button>
                                        <input 
                                          type="number" 
                                          class="form-control" 
                                          formControlName="IDDAmount1" 
                                          id="pd_IDDAmount1{{j}}" 
                                        />
                                        <button style="border-radius: 36px;padding: 2px 4px;line-height: 2px;"
                                          type="button" 
                                          class="btn btn-outline-primary btn-sm" 
                                          (click)="increaseValue(j, 'IDDAmount1')"
                                        >
                                          +
                                        </button>
                                      </div>
                                      <div class="input-group mt-2">
                                       
                                        <input 
                                          type="number" 
                                          class="form-control" 
                                          formControlName="IDDAmount2" 
                                          id="pd_IDDAmount2{{j}}" 
                                        />
                                       
                                      </div>
                                    </td>
                                    <!-- <td>
                                      <input type="text" class="form-control" formControlName="IDDAmount1" id="pd_IDDAmount1{{j}}" />
                                      <input type="text" class="form-control" formControlName="IDDAmount2" id="pd_IDDAmount2{{j}}" />
                                    </td> -->
                                    <td>
                                      <div class="input-group">
                                        <button style="border-radius: 36px;padding: 2px 4px;line-height: 2px;"
                                          type="button" 
                                          class="btn btn-outline-secondary btn-sm" 
                                          (click)="decreaseValue(j, 'localAmount1')"
                                        >
                                          -
                                        </button>
                                        <input 
                                          type="number" 
                                          class="form-control" 
                                          formControlName="localAmount1" 
                                          id="pd_localAmount1{{j}}" 
                                        />
                                        <button style="border-radius: 36px;padding: 2px 4px;line-height: 2px;"
                                          type="button" 
                                          class="btn btn-outline-primary btn-sm" 
                                          (click)="increaseValue(j, 'localAmount1')"
                                        >
                                          +
                                        </button>
                                      </div>
                                      <div class="input-group mt-2">
                                       
                                        <input 
                                          type="number" 
                                          class="form-control" 
                                          formControlName="localAmount2" 
                                          id="pd_localAmount2{{j}}" 
                                        />
                                       
                                      </div>
                                    </td>
                                    <!-- <td>
                                      <input type="text" class="form-control" formControlName="localAmount1" id="pd_localAmount1{{j}}" />
                                      <input type="text" class="form-control" formControlName="localAmount2" id="pd_localAmount2{{j}}" />
                                    </td> -->
                                    <td>
                                      <div class="page">
  
                                        <div class="dropdown">
                                          <button class="btn1"><i class="fa fa-bars"></i></button>
                                          <ul class="dropdown__list">
                                       
                                          
                                           
                                            <li class="dropdown__item">
                                              <a class="hover2" title="Save" (click)="saveRow(j)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#6D5DFC" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-save"><path d="M19 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11l5 5v11a2 2 0 0 1-2 2z"></path><polyline points="17 21 17 13 7 13 7 21"></polyline><polyline points="7 3 7 8 15 8"></polyline></svg>
                
                                              </a>
                                            </li>
                                           
                                            <li class="dropdown__item" >
                                              <a class="hover1" title="File" (click)="showAttachment(j)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#6D5DFC" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                
                                              </a>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                      
                                    </td>
                                    
                                  </tr>
                                </ng-container>
                                </tbody>
                              </table>
                            </div>
                          
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #loading>
              <p>Loading data...</p>
            </ng-template>
          </div>
          
          
          
      
        </div>
      </div>

    </div>

  </div>



  <!----------Modal Pop Up (BEGIN)  for PDF Show ------------------>
  <div class="modal fade" id="showPDFFormId" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
      <div class="modal-content searchQuotationCSS">
        <div class="modal-header">
  
          <h2 class="col-11  modal-title text-center text-center" id="exampleModalLongTitle" style="font-family: cursive;color:rgb(240 241 219);background: #200122; /* fallback for old browsers */
           background: -webkit-linear-gradient(to right, #200122, #6f0000); /* Chrome 10-25, Safari 5.1-6 */
           background: linear-gradient(to right, #262127, #54b7aa);">
            File Attachment </h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngFor="let attachment of attachments" style="margin-left: 160px;">
            <!-- Display the file name as a link -->
             <label style="font-weight: 600;color:#880808">FileName:</label>
            <a 
              href="{{ attachment.file_url }}" title=" {{ attachment.filename }}"
              target="_blank" 
              rel="noopener noreferrer"
            >
              {{ attachment.filename }}
            </a>
          </div>
  
        </div>
        <div class="modal-footer">
  
          <button type="button" class="btn btn-dark" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!----------Modal Pop Up (END)  for advanced search Quotation ------------------>