
<div class="contents-section">

    <div class="row no-gutters">
      <div class="col-lg-12 mb-30">
        <div class="card">
  
          <div class="card-header color-dark fw-500">
            <h3 class="card-header-section"><a href="#" class="breadcrumb-item"><i class="fas fa-home"></i> Home</a>
              <span class="breadcrumb-item active"> Product Inventory Entry Management</span>
            </h3>
  
            <div class="quotation-btn-section">
             
  
              <button type="button" class="btn btn-primary" data-toggle="modal" title="Search"
                data-target="#searchCreditFormId">
                <i class="fas fa-search" style="margin-right:10;"></i>Search
              </button>
  
            </div>
  
  
  
          </div>
  
  
            <!-- Nav pills -->
            <ul class="nav nav-pills" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#AvailableProducts" role="tab" 
                aria-controls="AvailableProducts" aria-selected="true" >Available Products(A)</a>
              </li>
          
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Approval" role="tab" 
                aria-controls="Approval" aria-selected="false"
                  >Approval(P)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#IssueProducts" role="tab" 
                aria-controls="IssueProducts" aria-selected="false"
                  >Issue Products(I)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#DemoIssueProducts" role="tab" 
                aria-controls="DemoIssueProducts" aria-selected="false"
                  >Demo Issue Products(D)</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#RMAReIssueProducts" role="tab" 
                aria-controls="RMAReIssueProducts" aria-selected="false"
                  >RMA Re-Issue Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#ProductEntryHistory" role="tab" 
                aria-controls="ProductEntryHistory" aria-selected="false"
                  >Product Entry History</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#IssHis" role="tab" 
                aria-controls="IssHis" aria-selected="false"
                  >Iss His</a>
              </li>
  
            </ul>
  
            <!-- Tab panes -->
            <div class="tab-content" id="myTabContent">
              <div id="AvailableProducts" class="tab-pane fade show active" role="tabpanel" aria-labelledby="AvailableProducts-tab"><br>
            
                  <div class="userDatatable global-shadow border-0 bg-white w-100">
                    <div class="table-responsive">
                      <table class="table mb-0 table-borderless">
                        <thead>
                          <tr class="userDatatable-header">
                            <th>
                              <span class="userDatatable-title">S No</span>
                            </th>
                            <th>
                              <span class="userDatatable-title">Biller</span>
                            </th>
                            <th>
                              <span class="userDatatable-title">Product Category</span>
                            </th>
                            <th>
                              <span class="userDatatable-title">Product Name</span>
                            </th>
                            <th>
                              <span class="userDatatable-title">Pur Price</span>
                            </th>
                            <th>
                              <span class="userDatatable-title">Stk Qty</span>
                            </th>
                            <th>
                              <span class="userDatatable-title">RMA Qty</span>
                            </th>
                            <th>
                              <span class="userDatatable-title">Tot Qty</span>
                            </th>
                            <th>
                              <span class="userDatatable-title">Demo Qty</span>
                            </th>
                            <th>
                              <span class="userDatatable-title">Action</span>
                            </th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let list of availableProdList;let i = index">
                          <td>
                            {{ list.qty }}
                          </td>
              
                          <td>
        
                            <span><button type="button" class="buttonClass {{
                                list.billerCode}}">{{
                                list.billerCode}}</button></span>
                          
                          </td>
                          <td>
                            <span> {{ list.product_category_name }} </span>
                          </td>
                          <td>
                            <span> {{ list.productName }} </span>
                          </td>
                          <td>
                            <span> {{ list.purchase_rate }} </span>
                          </td>

                          <td>
                            <span> {{ list.qty }} </span>
                          </td>
                          <td>
                            <span> {{ list.rma_qty }} </span>
                          </td>
                          <td>
                            <span> {{ list.demo_qty }} </span>
                          </td>
                          <td>
                            <span> {{ list.demo_qty }} </span>
                          </td>
        
                          <td>
                            <div class="page">
        
                              <div class="dropdown">
                                <button class="btn1"><i class="fa fa-bars"></i></button>
                                <ul class="dropdown__list">
        
                                  <li class="dropdown__item">
                                    <a class="hover3" title="Edit" >
                                      <img class="show" src="assets/img/icon2/edit-blue.png">
                                      <img class="hide" src="assets/img/icon2/edit-black.png">
                                    </a>
                                  </li>
        
                                  <li class="dropdown__item">
                                    <a class="hover4" title="Duplicate" >
                                     
                                      <img class="show" src="assets/img/icon2/duplicate-blue.png">
                                      <img class="hide" src="assets/img/icon2/duplicate-black.png">
                                    </a>
                                  </li>
        
                                  <li class="dropdown__item">
                                    <a class="hover3" title="Landscape PDF">
                                      <img class="show" src="assets/img/icon2/pdf-blue.png">
                                      <img class="hide" src="assets/img/icon2/pdf-black.png">
                                    </a>
                                  </li>
        
                                  <li class="dropdown__item">
                                    <a class="hover4" title="Email-Landscape">
                                      <img class="show" src="assets/img/icon2/gmail-blue.png">
                                      <img class="hide" src="assets/img/icon2/gmail-black.png">
                                    </a>
                                  </li>
        
                                  <li class="dropdown__item">
                                    <a class="hover3" title="Delete">
                                      <img class="show" src="assets/img/icon2/delete-blue.png">
                                      <img class="hide" src="assets/img/icon2/delete-black.png">
                                    </a>
                                  </li>
        
                                  <li class="dropdown__item">
                                    <a class="hover4" title="Share permission">
                                      <img class="show" src="assets/img/icon2/share-square-blue.png">
                                      <img class="hide" src="assets/img/icon2/share-square-black.png">
        
                                    </a>
                                  </li>
        
                                  <li class="dropdown__item">
                                    <a class="hover3" title="Share permission" >
                                      <img class="show" src="assets/img/icon2/share-square-red.png">
                                      <img class="hide" src="assets/img/icon2/share-square-black.png">
        
                                    </a>
                                  </li>
        
                                </ul>
                              </div>
                            </div>
                          </td>
        
                        </tbody>
                      </table>
                    </div>
                  </div>
                
              </div>
              <div id="Approval" class="tab-pane fade" role="tabpanel" aria-labelledby="Approval-tab"><br>
                <div class="card-body" id="delivery-order-section">
                    <p>Approval</p>
                </div>
              </div>
  
              <div id="IssueProducts" class="tab-pane fade" role="tabpanel" aria-labelledby="IssueProducts-tab"><br>
              
                
                    <div class="userDatatable global-shadow border-0 bg-white w-100">
                      <div class="table-responsive">
                        <table class="table mb-0 table-borderless">
                          <thead>
                            <tr class="userDatatable-header">
                              <th>
                                <span class="userDatatable-title">S No</span>
                              </th>
                              <th>
                                <span class="userDatatable-title">Issue Code</span>
                              </th>
                              <th>
                                <span class="userDatatable-title">Biller</span>
                              </th>
                              <th>
                                <span class="userDatatable-title">Customer</span>
                              </th>
                              <th>
                                <span class="userDatatable-title">Entry Date</span>
                              </th>
                              <th>
                                <span class="userDatatable-title">Issued Date</span>
                              </th>
                              <th>
                                <span class="userDatatable-title">Product Category</span>
                              </th>
                              <th>
                                <span class="userDatatable-title">Product Name</span>
                              </th>
                              <th>
                                <span class="userDatatable-title"> Qty</span>
                              </th>
                              <th>
                                <span class="userDatatable-title">Action</span>
                              </th>
                            </tr>
                          </thead>
                          <tbody *ngFor="let list of issueProductListt;let i = index">
                            <td>
                              {{ list.serial_numbers }}
                            </td>
                            <td>
                              <span> {{ list.product_stock_movement_id }} </span>
                            </td>
                
                            <td>
          
                              <span><button type="button" class="buttonClass {{
                                  list.billerCode}}">{{
                                  list.billerCode}}</button></span>
                            
                            </td>
                            
                            <td>
                              <span> {{ list.customerName }} </span>
                            </td>
                            <td>
                              <span> {{ list.entry_dt_show }} </span>
                            </td>
  
                            <td>
                              <span> {{ list.issued_dt_show }} </span>
                            </td>
                            <td>
                              <span> {{ list.product_category_name }} </span>
                            </td>
                            <td>
                              <span> {{ list.productName }} </span>
                            </td>
                            <td>
                              <span> {{ list.qty }} </span>
                            </td>
          
                            <td>
                              <div class="page">
          
                                <div class="dropdown">
                                  <button class="btn1"><i class="fa fa-bars"></i></button>
                                  <ul class="dropdown__list">
          
                                    <li class="dropdown__item">
                                      <a class="hover3" title="Edit" >
                                        <img class="show" src="assets/img/icon2/edit-blue.png">
                                        <img class="hide" src="assets/img/icon2/edit-black.png">
                                      </a>
                                    </li>
          
                                    <li class="dropdown__item">
                                      <a class="hover4" title="Duplicate" >
                                       
                                        <img class="show" src="assets/img/icon2/duplicate-blue.png">
                                        <img class="hide" src="assets/img/icon2/duplicate-black.png">
                                      </a>
                                    </li>
          
                                    <li class="dropdown__item">
                                      <a class="hover3" title="Landscape PDF">
                                        <img class="show" src="assets/img/icon2/pdf-blue.png">
                                        <img class="hide" src="assets/img/icon2/pdf-black.png">
                                      </a>
                                    </li>
          
                                    <li class="dropdown__item">
                                      <a class="hover4" title="Email-Landscape">
                                        <img class="show" src="assets/img/icon2/gmail-blue.png">
                                        <img class="hide" src="assets/img/icon2/gmail-black.png">
                                      </a>
                                    </li>
          
                                    <li class="dropdown__item">
                                      <a class="hover3" title="Delete">
                                        <img class="show" src="assets/img/icon2/delete-blue.png">
                                        <img class="hide" src="assets/img/icon2/delete-black.png">
                                      </a>
                                    </li>
          
                                    <li class="dropdown__item">
                                      <a class="hover4" title="Share permission">
                                        <img class="show" src="assets/img/icon2/share-square-blue.png">
                                        <img class="hide" src="assets/img/icon2/share-square-black.png">
          
                                      </a>
                                    </li>
          
                                    <li class="dropdown__item">
                                      <a class="hover3" title="Share permission" >
                                        <img class="show" src="assets/img/icon2/share-square-red.png">
                                        <img class="hide" src="assets/img/icon2/share-square-black.png">
          
                                      </a>
                                    </li>
          
                                  </ul>
                                </div>
                              </div>
                            </td>
          
                          </tbody>
                        </table>
                      </div>
                    </div>
              
             
              </div>


              <div id="RMAReIssueProducts" class="tab-pane fade" role="tabpanel" aria-labelledby="RMAReIssueProducts-tab"><br>
                <div class="card-body" id="delivery-order-section">
                  <p>RMA ReIssue Products</p>
                </div>
              </div>
              <div id="DemoIssueProducts" class="tab-pane fade" role="tabpanel" aria-labelledby="DemoIssueProducts-tab"><br>
                <div class="card-body" id="delivery-order-section">
                    <p>Demo Issue Products</p>
                </div>
              </div>
  
              <div id="ProductEntryHistory" class="tab-pane fade" role="tabpanel" aria-labelledby="ProductEntryHistory-tab"><br>
                <div class="card-body" id="delivery-order-section">
                    <p>Product Entry History</p>
                </div>
              </div>
              <div id="IssHis" class="tab-pane fade" role="tabpanel" aria-labelledby="IssHis-tab"><br>
                <div class="card-body" id="delivery-order-section">
                    <p>Iss His</p>
                </div>
              </div>
            </div>
  
        </div>
      </div>
    </div>
  
  </div>
