

.logo-size{
    width: 100px;
    padding: 10px;
}
.collapsed .logo-size{
    width: 75px;
    padding: 10px;
}
.navbar-brand{
    margin-right: 0;
}
ul li ul li ul{
    background: linear-gradient(to right, #136ea9 0%, #031221 70%);
}
ul li ul li ul li.active{
    background: #a33838;
}