<div class="contents-section">

    <div class="row no-gutters">
        <div class="col-lg-12 mb-30">
            <div class="card quotation">
                <div class="card-header color-dark fw-500">
                    <h3 class="card-header-section"><a href="#" class="breadcrumb-item"><i class="fas fa-home"></i>
                            Home</a>
                        <span class="breadcrumb-item active">Customer Projects Management</span>
                    </h3>


                    <div class="quotation-btn-section">
                        <button type="button" title="Add New Customer Projects"
                            class="btn btn-primary btn-default btn-squared" style="margin-right: 10px;">
                            <i class="fas fa-plus" style="margin-right:4px;"></i>
                            Add
                        </button>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            title="Search Customer Projects" data-target="#searchTransactionFormId">
                            <i class="fas fa-search" style="margin-right:4px;"></i>Search
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="userDatatable global-shadow border-0 bg-white w-100">
                        <div class="table-responsive">
                            <table class="table mb-0 table-borderless">
                                <thead>
                                    <tr class="userDatatable-header">

                                        <th>
                                            <span class="userDatatable-title">S No</span>
                                        </th>

                                        <th>
                                            <span class="userDatatable-title">Projects</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Date</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Subject</span>
                                        </th>

                                        <th>
                                            <span class="userDatatable-title">Description</span>
                                        </th>
                                        <th>
                                            <span class="userDatatable-title">Attachment/Owner</span>
                                        </th>


                                        <th>
                                            <span class="userDatatable-title">Action</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let list of Transaction_list; let i = index">
                                        <tr style="background-color: rgb(207, 244, 232);color: rgb(12, 6, 0);">
                                            <td colspan="5">
                                                <div class="col-lg-12"
                                                    style="display: flex;justify-content: space-around;">
                                                    <div>
                                                        <span><button type="button" class="buttonClass {{
                                                            list.billerCode}}">{{
                                                                list.billerCode}}</button></span>
                                                    </div>
                                                    <div>
                                                        <span>{{ list.customerName}}</span>
                                                    </div>
                                                    <div>
                                                        <span class="call-icon"
                                                            (click)="getCustomerPhoneProvision(list.customer_id)">📞</span>
                                                    </div>

                                                </div>







                                            </td>
                                            <td>
                                                <img *ngIf="list.profile_image" [src]="list.profile_image" alt="Owner"
                                                    class="owner-img" />
                                                <span>{{ list.user_name }}</span>
                                            </td>
                                            <td>
                                                <div class="page">

                                                    <div class="dropdown">
                                                        <button class="btn1"><i class="fa fa-bars"></i></button>
                                                        <ul class="dropdown__list">

                                                            <li class="dropdown__item">
                                                                <a class="hover1" title="Add" (click)="openAdd()">
                                                                    <img class="hide"
                                                                        src="assets/img/icon2/add-user-black.png">
                                                                    <img class="show"
                                                                        src="assets/img/icon2/add-user-blue.png">
                                                                </a>

                                                            </li>
                                                            <li class="dropdown__item">
                                                                <a class="hover1" title="Edit">
                                                                    <img class="show"
                                                                        src="assets/img/icon/nfc-pen-b.png">
                                                                    <img class="hide" src="assets/img/icon/nfc-pen.png">
                                                                </a>

                                                            </li>



                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>

                                        </tr>
                                        <tr>
                                            <td colspan="7">
                                                <span>Backup and Attachment</span>
                                            </td>
                                        </tr>
                                        <ng-container *ngFor="let list1 of list.projects; let j = index">
                                            <tr>
                                                <td colspan="7">
                                                    <span>{{ list1.subject_name}}</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span>{{ j+1}}</span>
                                                </td>
                                                <td>
                                                    <!-- <span>{{ list1.project_name}}</span> -->
                                                    <span>{{ list1.project_date}}</span>
                                                </td>



                                                <td>
                                                    <span>{{ list1.project_date}}</span>
                                                </td>
                                                <td>
                                                    <!-- <span>{{ list1.subject_name}}</span> -->
                                                    <span>{{ list1.project_date}}</span>
                                                </td>

                                                <td>
                                                    <!-- <span>{{ list1.description}}</span> -->
                                                    <span>{{ list1.project_date}}</span>
                                                </td>
                                                <td>
                                                    <span>{{ list1.project_details_id}}</span>
                                                </td>



                                            </tr>
                                        </ng-container>
                                    </ng-container>



                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>

<!----------Modal Pop Up (BEGIN)  for Google Authentication in customer Contract------------------>
<div class="modal fade" id="viewCustomerPjctMgmtID" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h2 class="col-11  modal-title text-center text-center" id="exampleModalLongTitle" style="font-family: cursive;color:rgb(240 241 219);background: #200122; /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #200122, #6f0000); /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #262127, #54b7aa);">
                    Customer Project Management </h2>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="viewCustomerPjctMgmtForm">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>
                                        Comments
                                    </label>
                                </div>
                                <div class="col-lg-12">

                                    <textarea class="form-control" formControlName="view_comments" rows="4"></textarea>
                                </div>

                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <label>
                                        Description
                                    </label>
                                </div>
                                <div class="col-lg-12">

                                    <!-- <input type="text"  class="form-control" formControlName="viewDescription"  /> -->
                                    <textarea [innerHTML]="this.viewDescr" class="form-control" rows="4"
                                        formControlName="viewDescription"></textarea>
                                </div>

                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary">
                    Upload
                </button>
                <button type="button" class="btn btn-dark" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!----------Modal Pop Up (BEGIN)  for Google Authentication in customer Contract------------------>
<!----------Modal Pop Up (BEGIN)  for Google Authentication in customer Contract------------------>
<div class="modal fade" id="AddAttachmentID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h2 class="col-11  modal-title text-center text-center" id="exampleModalLongTitle" style="font-family: cursive;color:rgb(240 241 219);background: #200122; /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #200122, #6f0000); /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #262127, #54b7aa);">
                    Add Attachment</h2>


                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="AddAttachmentForm">
                    <div class="row">


                        <div class="col-lg-6 ">
                            <div class="form-group row">
                                <label for="edit_date" class="col-lg-12 col-form-label">Sub Customer Name</label>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control" formControlName="add_cusName">
                                </div>
                                <div class="col-lg-12">
                                    <label for="edit_date" class="col-lg-12 col-form-label">or</label>
                                </div>
                                <div class="col-lg-12">

                                    <select name="add_cusNameDropdown" class="form-control"
                                        aria-label="Select Sub Customer" formControlName="add_cusNameDropdown">
                                        <option value="null">Select Sub Customer</option>

                                        <option *ngFor="let classif of getSubCustomerList" value="{{classif.id}}">
                                            {{classif.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group row">
                                <label for="edit_date" class="col-lg-12 col-form-label">Project Name *</label>
                                <div class="col-lg-12">
                                    <input type="text" class="form-control" formControlName="add_projName">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 ">
                            <div class="form-group row">
                                <label for="edit_date" class="col-lg-12 col-form-label">Project Date *</label>
                                <div class="col-lg-12">
                                    <input type="number" class="form-control" formControlName="add_projDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 ">
                            <div class="form-group row">
                                <label for="edit_date" class="col-lg-12 col-form-label">Subject Name *</label>
                                <div class="col-lg-12">
                                    <input type="number" class="form-control" formControlName="add_subjName">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 ">
                            <div class="form-group row">
                                <label for="edit_date" class="col-lg-12 col-form-label">Description</label>
                                <div class="col-lg-12">
                                    
                                    <editor id="tinyID_addCP" [init]="{
                                base_url: '/tinymce', 
                                branding: false,
                                suffix: '.min'
                                    
                            }"></editor>
                                </div>
                            </div>
                        </div>


                    </div>
                </form>



            </div>
            <div class="modal-footer">


                <button type="button" class="btn btn-dark" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
<!----------Modal Pop Up (BEGIN)  for Google Authentication in customer Contract------------------>