<!-- <app-header></app-header> -->
<!-- changed below for login after change -->
<!-- <app-navbar></app-navbar>
<app-sidebar2></app-sidebar2>

<router-outlet></router-outlet>

<app-footer></app-footer> -->


<div class="loader"></div>
<div class="main-body-content">

    <div id="app">
        <div class="main-wrapper main-wrapper-1 main_container" *ngIf="templateAuthView == false">
          
            <app-sidebar2></app-sidebar2>
            <!-- <app-footer></app-footer> -->
            <div class="main-content" *ngIf="templateAuthView == false">
                <!-- <ngx-spinner type="ball-beat"></ngx-spinner> -->
                <ngx-spinner bdColor="rgba(0,0,0,0.6)" size="default" color="#920e0e" type="square-jelly-box"
                    [fullScreen]="true">
                    <p style="color: white">  </p>
                </ngx-spinner>
                <section class="section">
                    <div class="contents expanded">
                        <app-navbar></app-navbar>
                        <router-outlet (activate)="onActivate($event)"></router-outlet>
                    </div>
                </section>
                <!-- //<app-setting-menu></app-setting-menu> -->

            </div>

            <div class="modal fade read_state" id="read_state" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
            aria-hidden="true">
            
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document" *ngIf="greeting">
              <div class="modal-content searchQuotationCSS">
                <div class="modal-header">
                  <h3 class="col-12 col-12 modal-title text-center text-center " id="closeTicketLabel">
                    {{ greeting.festival }}
                  </h3>
          
                  <button type="button" class="close" aria-label="Close" (click)="updateGreetingStatus()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                 
                </div>
                <div class="modal-body">
                    <div class="pyro">
                        <div class="before"></div>
                        <div class="after"></div>
                      </div>
                  <div class="greeting">
                    <p  style="    font-style: italic;
    color: #1156d4;">{{ greeting.text }}</p>
                    <img [src]="greeting.url" alt="{{ greeting.festival }} image" style="width: 100%; object-fit: cover;">
                  </div>
          
                </div>
          
              </div>
            </div>
          </div>


              


        </div>

        <div class="main-body-auth" *ngIf="templateAuthView == true">
            <router-outlet (activate)="onActivate($event)"></router-outlet>
        </div>

    </div>
</div>