#read_state .greeting{
    overflow-y: scroll;
    height: 500px;
}
#read_state .modal-title {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}
#read_state .modal-header {
    background: #4674c3;
}
#read_state .close{color:#fff;}
#read_state .modal-dialog{
    max-width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
#read_state .modal-content .greeting p {
    font-size: 17px;
    line-height: 28px;
}
#read_state .greeting::-webkit-scrollbar {
    width: 0px;
}
#read_state .greeting::-webkit-scrollbar-track {
   background: #f1f1f1; 
}
#read_state .greeting::-webkit-scrollbar-thumb {
   background: #888; 
}
#read_state .greeting::-webkit-scrollbar-thumb:hover {
   background: #555; 
}

body {
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
  }
  
  .pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  }
  
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
  }
  
  @-webkit-keyframes bang {
    to {
      box-shadow: 102px -159.6666666667px #00ff40, -206px -226.6666666667px #b7ff00, -194px -58.6666666667px #ff00ee, 85px -377.6666666667px #00ffe1, -170px -170.6666666667px #ff2200, -158px -254.6666666667px #ff2f00, 99px -303.6666666667px #33ff00, -139px -76.6666666667px #00ffcc, -80px 81.3333333333px #0900ff, 109px -310.6666666667px #8400ff, -166px -258.6666666667px #ff9d00, -20px -99.6666666667px #00ff91, -127px -220.6666666667px #ddff00, -189px -123.6666666667px #4400ff, 88px -114.6666666667px #84ff00, 8px -290.6666666667px #00ffdd, 152px -88.6666666667px #00ccff, -160px -205.6666666667px #00ff37, -8px -383.6666666667px #6600ff, -2px -259.6666666667px yellow, -122px -70.6666666667px #f700ff, -246px -201.6666666667px fuchsia, -209px -53.6666666667px #ff002f, 8px 49.3333333333px #00ff22, -59px -1.6666666667px #88ff00, 57px 29.3333333333px #ff0073, -32px 27.3333333333px #5e00ff, -164px -14.6666666667px #ff0055, 185px -290.6666666667px #00ffbf, 94px -48.6666666667px #ffd500, 118px -346.6666666667px #002bff, 9px -296.6666666667px #ff00fb, 44px -367.6666666667px #ff00ae, -131px -180.6666666667px #00ffe1, -111px -160.6666666667px #ff0066, 139px -243.6666666667px #0073ff, 52px -265.6666666667px #ff00c4, 29px -392.6666666667px #2600ff, 75px -204.6666666667px #007bff, 93px -148.6666666667px #ff3300, 215px -162.6666666667px #ff00d5, -213px 26.3333333333px #ffbf00, 36px 49.3333333333px #51ff00, -160px -302.6666666667px #ff9d00, -43px -387.6666666667px #ff006f, -128px 62.3333333333px #2bff00, -228px -303.6666666667px #4dff00, -203px -131.6666666667px #ff8000, 20px -180.6666666667px #ff0099, -25px -46.6666666667px #ff00c4, -248px 69.3333333333px #0009ff;
    }
  }
  @-moz-keyframes bang {
    to {
      box-shadow: 102px -159.6666666667px #00ff40, -206px -226.6666666667px #b7ff00, -194px -58.6666666667px #ff00ee, 85px -377.6666666667px #00ffe1, -170px -170.6666666667px #ff2200, -158px -254.6666666667px #ff2f00, 99px -303.6666666667px #33ff00, -139px -76.6666666667px #00ffcc, -80px 81.3333333333px #0900ff, 109px -310.6666666667px #8400ff, -166px -258.6666666667px #ff9d00, -20px -99.6666666667px #00ff91, -127px -220.6666666667px #ddff00, -189px -123.6666666667px #4400ff, 88px -114.6666666667px #84ff00, 8px -290.6666666667px #00ffdd, 152px -88.6666666667px #00ccff, -160px -205.6666666667px #00ff37, -8px -383.6666666667px #6600ff, -2px -259.6666666667px yellow, -122px -70.6666666667px #f700ff, -246px -201.6666666667px fuchsia, -209px -53.6666666667px #ff002f, 8px 49.3333333333px #00ff22, -59px -1.6666666667px #88ff00, 57px 29.3333333333px #ff0073, -32px 27.3333333333px #5e00ff, -164px -14.6666666667px #ff0055, 185px -290.6666666667px #00ffbf, 94px -48.6666666667px #ffd500, 118px -346.6666666667px #002bff, 9px -296.6666666667px #ff00fb, 44px -367.6666666667px #ff00ae, -131px -180.6666666667px #00ffe1, -111px -160.6666666667px #ff0066, 139px -243.6666666667px #0073ff, 52px -265.6666666667px #ff00c4, 29px -392.6666666667px #2600ff, 75px -204.6666666667px #007bff, 93px -148.6666666667px #ff3300, 215px -162.6666666667px #ff00d5, -213px 26.3333333333px #ffbf00, 36px 49.3333333333px #51ff00, -160px -302.6666666667px #ff9d00, -43px -387.6666666667px #ff006f, -128px 62.3333333333px #2bff00, -228px -303.6666666667px #4dff00, -203px -131.6666666667px #ff8000, 20px -180.6666666667px #ff0099, -25px -46.6666666667px #ff00c4, -248px 69.3333333333px #0009ff;
    }
  }
  @-o-keyframes bang {
    to {
      box-shadow: 102px -159.6666666667px #00ff40, -206px -226.6666666667px #b7ff00, -194px -58.6666666667px #ff00ee, 85px -377.6666666667px #00ffe1, -170px -170.6666666667px #ff2200, -158px -254.6666666667px #ff2f00, 99px -303.6666666667px #33ff00, -139px -76.6666666667px #00ffcc, -80px 81.3333333333px #0900ff, 109px -310.6666666667px #8400ff, -166px -258.6666666667px #ff9d00, -20px -99.6666666667px #00ff91, -127px -220.6666666667px #ddff00, -189px -123.6666666667px #4400ff, 88px -114.6666666667px #84ff00, 8px -290.6666666667px #00ffdd, 152px -88.6666666667px #00ccff, -160px -205.6666666667px #00ff37, -8px -383.6666666667px #6600ff, -2px -259.6666666667px yellow, -122px -70.6666666667px #f700ff, -246px -201.6666666667px fuchsia, -209px -53.6666666667px #ff002f, 8px 49.3333333333px #00ff22, -59px -1.6666666667px #88ff00, 57px 29.3333333333px #ff0073, -32px 27.3333333333px #5e00ff, -164px -14.6666666667px #ff0055, 185px -290.6666666667px #00ffbf, 94px -48.6666666667px #ffd500, 118px -346.6666666667px #002bff, 9px -296.6666666667px #ff00fb, 44px -367.6666666667px #ff00ae, -131px -180.6666666667px #00ffe1, -111px -160.6666666667px #ff0066, 139px -243.6666666667px #0073ff, 52px -265.6666666667px #ff00c4, 29px -392.6666666667px #2600ff, 75px -204.6666666667px #007bff, 93px -148.6666666667px #ff3300, 215px -162.6666666667px #ff00d5, -213px 26.3333333333px #ffbf00, 36px 49.3333333333px #51ff00, -160px -302.6666666667px #ff9d00, -43px -387.6666666667px #ff006f, -128px 62.3333333333px #2bff00, -228px -303.6666666667px #4dff00, -203px -131.6666666667px #ff8000, 20px -180.6666666667px #ff0099, -25px -46.6666666667px #ff00c4, -248px 69.3333333333px #0009ff;
    }
  }
  @-ms-keyframes bang {
    to {
      box-shadow: 102px -159.6666666667px #00ff40, -206px -226.6666666667px #b7ff00, -194px -58.6666666667px #ff00ee, 85px -377.6666666667px #00ffe1, -170px -170.6666666667px #ff2200, -158px -254.6666666667px #ff2f00, 99px -303.6666666667px #33ff00, -139px -76.6666666667px #00ffcc, -80px 81.3333333333px #0900ff, 109px -310.6666666667px #8400ff, -166px -258.6666666667px #ff9d00, -20px -99.6666666667px #00ff91, -127px -220.6666666667px #ddff00, -189px -123.6666666667px #4400ff, 88px -114.6666666667px #84ff00, 8px -290.6666666667px #00ffdd, 152px -88.6666666667px #00ccff, -160px -205.6666666667px #00ff37, -8px -383.6666666667px #6600ff, -2px -259.6666666667px yellow, -122px -70.6666666667px #f700ff, -246px -201.6666666667px fuchsia, -209px -53.6666666667px #ff002f, 8px 49.3333333333px #00ff22, -59px -1.6666666667px #88ff00, 57px 29.3333333333px #ff0073, -32px 27.3333333333px #5e00ff, -164px -14.6666666667px #ff0055, 185px -290.6666666667px #00ffbf, 94px -48.6666666667px #ffd500, 118px -346.6666666667px #002bff, 9px -296.6666666667px #ff00fb, 44px -367.6666666667px #ff00ae, -131px -180.6666666667px #00ffe1, -111px -160.6666666667px #ff0066, 139px -243.6666666667px #0073ff, 52px -265.6666666667px #ff00c4, 29px -392.6666666667px #2600ff, 75px -204.6666666667px #007bff, 93px -148.6666666667px #ff3300, 215px -162.6666666667px #ff00d5, -213px 26.3333333333px #ffbf00, 36px 49.3333333333px #51ff00, -160px -302.6666666667px #ff9d00, -43px -387.6666666667px #ff006f, -128px 62.3333333333px #2bff00, -228px -303.6666666667px #4dff00, -203px -131.6666666667px #ff8000, 20px -180.6666666667px #ff0099, -25px -46.6666666667px #ff00c4, -248px 69.3333333333px #0009ff;
    }
  }
  @keyframes bang {
    to {
      box-shadow: 102px -159.6666666667px #00ff40, -206px -226.6666666667px #b7ff00, -194px -58.6666666667px #ff00ee, 85px -377.6666666667px #00ffe1, -170px -170.6666666667px #ff2200, -158px -254.6666666667px #ff2f00, 99px -303.6666666667px #33ff00, -139px -76.6666666667px #00ffcc, -80px 81.3333333333px #0900ff, 109px -310.6666666667px #8400ff, -166px -258.6666666667px #ff9d00, -20px -99.6666666667px #00ff91, -127px -220.6666666667px #ddff00, -189px -123.6666666667px #4400ff, 88px -114.6666666667px #84ff00, 8px -290.6666666667px #00ffdd, 152px -88.6666666667px #00ccff, -160px -205.6666666667px #00ff37, -8px -383.6666666667px #6600ff, -2px -259.6666666667px yellow, -122px -70.6666666667px #f700ff, -246px -201.6666666667px fuchsia, -209px -53.6666666667px #ff002f, 8px 49.3333333333px #00ff22, -59px -1.6666666667px #88ff00, 57px 29.3333333333px #ff0073, -32px 27.3333333333px #5e00ff, -164px -14.6666666667px #ff0055, 185px -290.6666666667px #00ffbf, 94px -48.6666666667px #ffd500, 118px -346.6666666667px #002bff, 9px -296.6666666667px #ff00fb, 44px -367.6666666667px #ff00ae, -131px -180.6666666667px #00ffe1, -111px -160.6666666667px #ff0066, 139px -243.6666666667px #0073ff, 52px -265.6666666667px #ff00c4, 29px -392.6666666667px #2600ff, 75px -204.6666666667px #007bff, 93px -148.6666666667px #ff3300, 215px -162.6666666667px #ff00d5, -213px 26.3333333333px #ffbf00, 36px 49.3333333333px #51ff00, -160px -302.6666666667px #ff9d00, -43px -387.6666666667px #ff006f, -128px 62.3333333333px #2bff00, -228px -303.6666666667px #4dff00, -203px -131.6666666667px #ff8000, 20px -180.6666666667px #ff0099, -25px -46.6666666667px #ff00c4, -248px 69.3333333333px #0009ff;
    }
  }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0;
    }
  }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }