<div class="contents-section addquotation-section" style="cursor:pointer;" id="abc">

    <div class="card">
        <div class="card-header color-dark fw-500">
            <h3 class="card-header-section"><a href="#" class="breadcrumb-item"><i class="fas fa-home"></i> Home</a>
                <span class="breadcrumb-item active"> Add Contribution Master</span>
            </h3>

        </div>
    </div>
    <div class="container-fluid">
        <form [formGroup]="addPI_section1" style="margin-top: 8px;margin-bottom: 8px; margin-left: 460px;">
            <ng-container>
                <div>
                    <div>
                        <table >
                            <thead>
                                <tr >
                                    <th><span style="color:brown">Minimum Wage</span></th>
                                    <th><span style="color:brown">	Maximum Wage</span></th>
                                    
                                </tr>
    
                            </thead>
                            <tbody>
    
                                <!-- Individual Row -->
                                <tr >
                                    <!-- Customer Name -->
                                    <td>
                                        <div class="userDatatable-content">
                                            <input type="textbox" 
                                            formControlName="minimumWage" class="form-control"
                                            id="minimumWage_ConM" />
                                            
                                        </div>
                                    </td>
                                    <!-- Other Input Fields -->
                                    <!-- Date -->
                                    <td>
                                        <div class="userDatatable-content">
                                            <input type="textbox" class="form-control"
                                            formControlName="maximumWage"
                                            id="maximumWage_ConM" />
                                            
                                        </div>
                                    </td>
    
                                </tr>
                            </tbody>
                        </table>
    
                    </div>
    
                </div>
            </ng-container>
           
        </form>
       
        <form [formGroup]="addPI_section2">
            <div class="row">

                <div class="col-12" formArrayName="addresses">
                   
                    <ng-container >
                        <!-- Customer Invoices Row -->
                        <section>
                            <!-- Table for Customer Invoices -->
                            <div>
                                <div class="table-responsive">
                                    <table class="add-contact-table-section">
                                        <!-- Table Header -->
                                        
                                        <thead>
                                            <tr class="userDatatable-header">
                                                <th><span class="userDatatable-title">Employee's Age</span></th>
                                                <th><span class="userDatatable-title">BY Employer (% of Wage)</span></th>
                                                <th><span class="userDatatable-title">BY Employee (% of Wage)</span></th>
                                                <th><span class="userDatatable-title">Total (% of Wage)</span></th>
                                                <th><span class="userDatatable-title">Action</span></th>
                                            </tr>

                                        </thead>
                                        <tbody *ngFor="let address of addressControls.controls; let i = index;">
                                            <tr [formGroupName]="i">
                                         
                                                <td>
                                                    <div class="userDatatable-content">
                                                        <select class="form-control" formControlName="employeeAge"
                                                        id="employeeAge{{i}}" name="employeeAge">
                                                        <option value="" disabled selected>Select Employee's Age
                                                        </option>
                                                        <option *ngFor="let classif of employeeAgeList"
                                                        value="{{classif.id}}">
                                                        {{classif.value}}
                                                    </option>
                                                    </select>
                                                       
                                                    </div>
                                                </td>
                                  
                                                <td>
                                                    <div class="userDatatable-content" >
                                                        <input type="number" class="form-control"
                                                        formControlName="employeeWage"
                                                        id="employeeWage{{i}}" />

                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="userDatatable-content" >
                                                  
                                                        <input type="number" class="form-control"
                                                        formControlName="employerWage"
                                                        id="employerWage{{i}}" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="userDatatable-content">
                                                        <input type="number" class="form-control"
                                                        formControlName="TotalWage"
                                                        id="TotalWage{{i}}" />
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="userDatatable-content d-inline-block">
                                                        <button type="button" class="btn btn-primary btn-default btn-squared" 
                                                        (click)="addAddress()">+</button>
                                        
                                                    </div>
                                                    <div *ngIf="i > 0" class="userDatatable-content d-inline-block">

                                                        <button type="button" class="btn btn-danger btn-sm"
                                                        (click)="removeAddress(i)">X</button>
                                                    </div>
                                                    
                                                </td>
                                              

                                            </tr>
                                        </tbody>
                    
                                       
                                      
                                    </table>
                                </div>
                            </div>
                        </section>
                        <!-- End of Customer Invoices Row -->



                  
                    
                        <div class="modal-footer">

                            <button type="button" class="btn btn-primary mr-4 " (click)="save()">Save</button>
                            <button type="button" class="btn btn-dark" (click)="goBack()">Cancel</button>
                        </div>
                    </ng-container>

                </div>
            </div>
      
    </form>
    </div>

</div>

