<div class="contents-section">
    <div class="col-lg-12 mb-30">
        <div class="card">
            <div class="card-header color-dark fw-500" style="padding: 5px 500px;    background-color: #d9515147">
                <h1>Update Transaction Details</h1>
            </div>
        </div>
    </div>
    <form [formGroup]="addTransaction_section1">
        <div class="row ">
            <div class="col-lg-6">
                <div class="col-lg-12">
                    <div class="form-group row">
                        <div class="col-lg-3"><label for="biller_name" class="col-form-label">Biller Name</label></div>
                        
                        <div class="col-lg-9">
                            <select id="biller_name" class="form-control" formControlName="billerName" (change)="BillerChange($event)">
                                <option [ngValue]="null" selected>Select Biller Name</option>
                                <option *ngFor="let biller of billerDetails" value="{{biller.billerId}}">
                                        {{biller.billerName}}
                                    </option>
                            </select>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-12">
                    <div class="form-group row">
                        <div class="col-lg-3"><label for="trans_Date" class=" col-form-label">Date</label></div>
                        
                        <div class="col-lg-9">
                            <input type="date" class="form-control" formControlName="trans_Date" id="trans_Date" />
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-12">
                    <div class="form-group row">
                        <div class="col-lg-3"><label for="priority" class="col-form-label">Priority</label></div>
                        
                        <div class="col-lg-9">
                            <select id="priority" class="form-control" formControlName="priority">
                                <option [ngValue]="null" selected>Select Priority</option>
                                <option *ngFor="let prior of priorityList" value="{{prior.name}}">
                                        {{prior.name}}
                                    </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
           

           
        </div>
    </form>
    <div class="modal-footer">

        <button type="button" class="btn btn-primary mr-4 " (click)="UpdateTransaction()">Submit</button>
        <button type="button" class="btn btn-dark" (click)="goBackTransaction()">Cancel</button>
    </div>
</div>
