<div class="contents-section">
    <div class="no-gutters">
        <div class="col-lg-12 mb-30">
            <div class="card">
                <div class="card-header color-dark">
                    <h3 class="card-header-section">
                        <a href="#" class="breadcrumb-item">
                            <i class="fas  fa-home"></i>Home
                        </a>
                        <span class="breadcrumb-item active">Recurring Checker
                        </span>
                    </h3>
                    <div class="quotation-btn-section">
                        <button type="button" class="btn btn-primary">
                            <i class="fas fa-line-chart" style="margin-right: 10px;"></i>PDF
                        </button>
                        <button type="button" class="btn btn-warning">
                            <i class="fas fa-archive"></i>Multiple Recurring

                        </button>

                    </div>

                </div>
                <div class="card-body">
                    <div class="userDatatable global-shadow border-0 bg-white w-100">
                        <div class="table-responsive">
                            <table class="table mb-0 table-borderless">
                                <thead>
                                    <tr class="userDatatable-header">
                                        <th class="userDatatable-title">
                                            checkbox
                                        </th>
                               
                               
                                        <th class="userDatatable-title">
                                            A.Print
                                        </th>
                                
                           
                                        <th class="userDatatable-title">
                                            S.No
                                        </th>
                                
                       
                                        <th class="userDatatable-title">
                                            customer Invoice No
                                        </th>
                                 
                         
                                        <th class="userDatatable-title">
                                            Invoice Date
                                        </th>
                            
                             
                                        <th class="userDatatable-title">
                                            Customer
                                        </th>
                             
                             
                                        <th class="userDatatable-title">
                                            Fixed Charge
                                        </th>
                             
                                  
                                        <th class="userDatatable-title">
                                            Fixed Charge Charges
                                        </th>
                              
                        
                                        <th class="userDatatable-title">
                                            Usage Charge
                                        </th>
                                    
                               
                                        <th class="userDatatable-title">
                                            Usage charge uu 
                                        </th>
                               
                                
                                        <th class="userDatatable-title">Net Amount</th>
                                
                                
                                        <th class="userDatatable-title">Action</th>
                                    </tr>

                                </thead> 
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>12</td>
                                    </tr>
                                </tbody> 

                            </table>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>