<div class="contents-section">
 
    <div class="row no-gutters">
      <div class="col-lg-12 mb-30">
        <div class="card">

          <div class="card-header color-dark fw-500">
            <h3 class="card-header-section"><a href="#" class="breadcrumb-item"><i class="fas fa-home"></i> Home</a>
              <span class="breadcrumb-item active"> Salary Contribution Master-CPF</span></h3>
           
         

            <div class="quotation-btn-section">
              <button type="button" title="Add Multiple" class="btn btn-primary btn-default btn-squared"
              
             
               (click)="goAddSalary()" style="margin-right: 30px;"><i class="fas fa-plus"
                 style="margin-right:10;"></i>Add 
              </button>
             
             <button type="button" title="Group Delete Salary" class="btn btn-primary btn-default btn-squared"
              (click)="groupDeleteSalary()" style="margin-right: 30px;"><i class="fas fa-trash"
               style="margin-right:10;"></i>Group Delete 
            </button>
           

            </div>


          
          </div>

          <div class="card-body">
            <div class="userDatatable global-shadow border-0 bg-white w-100">
              <div class="table-responsive">
                <table class="table mb-0 table-borderless">
                  <thead>
                    <tr class="userDatatable-header">
                        <th style="width:2%;text-align: center; vertical-align: middle;">
                            <input type="checkbox" id="select-allcontr" [(ngModel)]="selectAllCheckbox"
                              (change)="selectAll_assignLicense()" />
                          </th>
                      <th>
                        <span class="userDatatable-title">Age</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Employer Contribution</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Employee Contribution</span>
                      </th>
                      <th>
                        <span class="userDatatable-title">Total</span>
                      </th>
                   
                      <th>
                        <span class="userDatatable-title">Action</span>
                      </th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let list of Purchase_Order;let i = index">
                    <tr>

                        <td>
                            <input type="checkbox" [(ngModel)]="list.selected"
                              (change)="updateSelected_assignLicense(list)" />
                          </td>
                    <td>
                       {{ list.age }} 
                    </td>
              
                    <td>


                      {{ list.employer}}
                    </td>
                    <td>
                      <span> {{ list.employee }} </span>
                    </td>
                    <td>
                      <span> {{ list.total }} </span>
                    </td>
                  

                    <td>
                      <div class="page" style="padding-left: 10px;">

                        <div class="dropdown">
                          <button class="btn1"><i class="fa fa-bars"></i></button>
                          <ul class="dropdown__list">
                          

                            <li class="dropdown__item" >
                              <a class="view" title="Edit Salary Details" (click)="editSalaryEntry(list.id)" >
                                <img class="show" src="assets/img/icon2/edit-blue.png">
                                <img class="hide" src="assets/img/icon2/edit-black.png">
                              </a>
                            </li>


                            <li class="dropdown__item" >
                              <a class="remove" title="Delete Salary Details" (click)="rowDelete(list.id)" >
                                <img class="show" src="assets/img/icon2/delete-blue.png">
                                <img class="hide" src="assets/img/icon2/delete-black.png">
                              </a>
                            </li>

                            

                          </ul>
                        </div>
                      </div>
                    </td>
                  </tr>
                  
                  </tbody>
                </table>
              </div>
            </div>
            <br>
            <nav class="atbd-page">
              <ul class="pagination mb-0" *ngIf="paginationData.info == 'show'">
                <li class="page-item">
                  <a [class]="paginationData.backtab=='show' ? 'page-link' :'page-link disabled'"
                    href="javascript:void(0)"
                    (click)="paginationData.backtab=='show' ? PurchaseOrderList({'offset':paginationData.start}) : false"><i
                      class="fas fa-angle-left"></i></a>
                </li>
                <li class="page-item" *ngIf="paginationData.backtab =='show'">
                  <a class="page-link" href="javascript:void(0)"
                    (click)="PurchaseOrderList({'offset':paginationData.back})"><i
                      class="fas fa-angle-double-left"></i></a>
                </li>
                <li [class]="pagination.load ==false ? 'page-item active' :'page-item'"
                  *ngFor="let pagination of paginationData.data;let i=index">
                  <a class="page-link" href="javascript:void(0)"
                    (click)=" pagination.load ==true ? PurchaseOrderList({'offset':pagination.offset_count}) : false">{{pagination.btn_length}}
                    <span class="sr-only" *ngIf="pagination.load ==false">(current)</span></a>
                </li>
                <li class="page-item" *ngIf="paginationData.nexttab =='show'">
                  <a class="page-link" href="javascript:void(0)"
                    (click)="PurchaseOrderList({'offset':paginationData.next})"><i
                      class="fas fa-angle-double-right"></i></a>
                </li>
                <li class="page-item">
                  <a [class]="paginationData.nexttab =='show' ? 'page-link' : 'page-link disabled'"
                    href="javascript:void(0)"
                    (click)="paginationData.nexttab =='show' ? PurchaseOrderList({'offset':paginationData.end}) : false"><i
                      class="fas fa-angle-right"></i></a>
                </li>
                <li class="dropdown__item">
                  <a class="hover3" title="Testing Payment Link" data-toggle="modal" data-target="#">

                  </a>
                </li>
              </ul>
            </nav>
           
          </div>

        </div>
      </div>
    </div>
 
</div>









